/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[rpt_InvoiceReport]
	-- Add the parameters for the stored procedure here
	@PaymentID			VARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    SELECT t.TransactionID, t.rzp_paymentid, t.PaymentStatus,
	t.PaymentID, t.Amount, t.ProcessingFee, p.PaymentDate,
	'FT' + CONVERT(VARCHAR(100), t.rzp_orderid) AS InvoiceNumber
    FROM tblTransaction t
    INNER JOIN tblPayment p ON t.PaymentID = p.PaymentID
    WHERE t.rzp_paymentid = @PaymentID
    
END
GO
