/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spCartItems_GetList]
(
	@UserID		udt_ID
)
AS                          
BEGIN    
	BEGIN TRY
		DECLARE @ErrMsg	VARCHAR(4000)
					   
		SELECT  c.CartID,
				c.ProductID,
				c.Quantity,
				c.AddDate,
				c.IsBuy,
				c.BuyDate,
				c.IsRemove,
				c.RemoveDate,
				c.IsSaveForLater,
				c.SaveForLaterDate,
				c.CreatedOn,
				c.ModifiedOn,
				p.ProductName,
				p.ImageURL,
				p.Price,
				p.ProductDescription,
				d.IsInrOrPercentage, 
				b.BrandName,
				(
					CASE 
					WHEN d.IsInrOrPercentage = 'I' 
					THEN d.INR 
					ELSE d.Percentage
					END
				) AS Discount
		FROM tblCart c
		INNER JOIN tblProduct p ON c.ProductID=p.ProductID
		LEFT JOIN tblBrands b ON b.BrandId = p.BrandID
		LEFT JOIN tblDiscount d ON p.DiscountID=d.DiscountID
		WHERE UserID=@UserID 
		AND IsBuy = 0
		AND IsRemove = 0
		AND IsSaveForLater = 0
		ORDER BY AddDate

		RETURN
	END TRY 
	BEGIN CATCH 
		SET @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN 
	END CATCH
END
GO
