/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spCategory_Reorder] 
(
	@CurrentRowID				udt_ID,
	@CurrentRowDisplayOrder		udt_ID,
	@OtherRowID					udt_ID,
	@OtherRowDisplayOrder		udt_ID
)
AS
BEGIN
BEGIN TRY 
 
	DECLARE @ErrMsg VARCHAR(5000)
	 
	BEGIN TRANSACTION 
		
		UPDATE tblProductCategory
		   SET DisplayOrder = @CurrentRowDisplayOrder
		 WHERE CategoryID = @OtherRowID 
		 
		UPDATE tblProductCategory 
		   SET DisplayOrder = @OtherRowDisplayOrder
		 WHERE CategoryID = @CurrentRowID 
		 
	COMMIT TRANSACTION										
	RETURN
	END TRY
		
	BEGIN CATCH
		IF @@TRANCOUNT>0
			ROLLBACK TRANSACTION
		IF (@ErrMsg != '')
			SELECT @ErrMsg =  ERROR_MESSAGE()
		RAISERROR(@ErrMsg , 16, 1, 0)
		RETURN
	END CATCH
END
GO
