/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spCategory_InsertUpdate]
	@CategoryID				udt_ID,
	@Category				VARCHAR(50),
	@UserName				udt_User
AS                          
BEGIN    
	BEGIN TRY
		DECLARE @ErrMsg	VARCHAR(4000), @ModifiedDate udt_DateTime, 
		@MAXDisplayOrder INT = 0
				
		SELECT @ModifiedDate = GETDATE()				

		BEGIN TRANSACTION

			SELECT @MAXDisplayOrder = MAX(DisplayOrder) 
			FROM tblProductCategory
			   
			IF (@CategoryID=0)-- Insert Mode
			BEGIN
				INSERT INTO tblProductCategory (Category,DisplayOrder,CreatedBy,CreatedOn)
				VALUES (@Category,ISNULL(@MAXDisplayOrder,0) + 1,@UserName,@ModifiedDate)
			END
			ELSE -- Update Mode
			BEGIN
				UPDATE tblProductCategory
				SET Category=@Category,
					ModifiedBy=@UserName,
					ModifiedOn=@ModifiedDate
				WHERE CategoryID=@CategoryID
			END	

		COMMIT TRANSACTION
		RETURN
	END TRY 
	BEGIN CATCH 
		ROLLBACK TRANSACTION
		SET @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN 
	END CATCH
END
GO
