/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spCategory_Insert]
(
    @Category        udt_Name,
    @DisplayOrder    udt_ID2 = 0,
    @CreatedBy       udt_Name = 'system',
	@CustomerID		 bigint
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO tblProductCategory
    (
        Category,
        IsActive,
        ActivationDate,
        DisplayOrder,
        CreatedBy,
        CreatedOn,
		CustomerID
    )
    VALUES
    (
        @Category,
        1,
        [dbo].UTC2Indian(GETDATE()),
        @DisplayOrder,
        @CreatedBy,
        [dbo].UTC2Indian(GETDATE()),
		@CustomerID
    )
END
GO
