/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spCategory_GetDetails]
	@CategoryID				udt_ID
AS                          
BEGIN    
	BEGIN TRY
		DECLARE @ErrMsg	VARCHAR(4000)
			   
		SELECT CategoryID,Category
			FROM tblProductCategory 
			WHERE CategoryID = @CategoryID

		RETURN
	END TRY 
	BEGIN CATCH 
		SET @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN 
	END CATCH
END
GO
