/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spCategory_Delete]
	@CategoryID				udt_ID
AS                          
BEGIN    
	BEGIN TRY
		SET NOCOUNT ON;
		SET ARITHABORT ON;

		DECLARE @ErrMsg	VARCHAR(4000)

		IF EXISTS (
					SELECT 1 
					  FROM tblProductSubCategory 
					 WHERE CategoryID = @CategoryID
					)
		BEGIN
			RAISERROR('The category cannot be deleted because it is used.',16,-1)
			RETURN;
		END
		
		BEGIN TRANSACTION

			DELETE tblProductCategory
			WHERE CategoryID = @CategoryID

		COMMIT TRANSACTION
		SET ARITHABORT OFF;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION
		IF @ErrMsg IS NULL SELECT @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg , 16, 1, 0)
		RETURN
	END CATCH       
END
GO
