/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spCustomer_Select]
(
	@ApplicationName		VARCHAR(50)
)
AS		
	BEGIN TRY
	
		DECLARE @ErrMsg        varchar(5000)
		DECLARE @Return        VARCHAR(100)			
		
		
		SELECT CustomerID,CustomerName,ApplicationName,
		BaseURL='localhost/clubapp',
		[Address],Phone1,Phone2,Email,DBServerName,DatabaseName,DBUserName,DBPassword,IsActive,StartDate,EndDate,PaymentGatewayID,CreatedOn
		FROM tblCustomer
		WHERE  ApplicationName = @ApplicationName
		
	END TRY
	BEGIN CATCH

		SET @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN

	END CATCH
GO
