/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spDiscount_DDL]
AS
BEGIN
	SELECT DiscountID, Discount
	FROM tblDiscount
	ORDER BY DisplayOrder

END
GO
