/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spErrorLog_Insert]
(  
	@DatabaseName			VARCHAR(255) ,
	@ApplicationName		VARCHAR(255)	=	NULL,
	@EventDateTime			DATETIME		=	NULL,
	@Device					VARCHAR(50)		=	NULL,
	@PageName				VARCHAR(MAX)	=	NULL,
	@URL					VARCHAR(MAX)	=	NULL,
	@PreviousURL			VARCHAR(MAX)	=	NULL,
	@UserName				VARCHAR(100)	=	NULL,
	@Browser				VARCHAR(MAX)	=	NULL,
	@Source					VARCHAR(1000)	=	NULL,
	@StackTrace				VARCHAR(MAX)	=	NULL, 
	@StackTraceString		VARCHAR(MAX)	=	NULL 
)

AS
BEGIN

	BEGIN TRY
	
	DECLARE @ErrMsg	VARCHAR(MAX)	
	
	SET @ErrMsg='Insert error log failed.'

	INSERT INTO tblErrorLog
	(
		DatabaseName,
		ApplicationName,
		EventDateTime,
		Device,
		PageName,
		URL,
		PreviousURL,
		UserName,
		Browser,
		[Source],
		StackTrace,
		StackTraceString	
	)
	VALUES
	(
		@DatabaseName,
		@ApplicationName,
		@EventDateTime,
		@Device,
		@PageName,
		@URL,
		@PreviousURL,
		@UserName,
		@Browser,
		@Source,
		@StackTrace,
		@StackTraceString
	)
	
	END TRY
	BEGIN CATCH	
		INSERT INTO tblErrorLog(DatabaseName,ApplicationName,StackTrace) VALUES (@DatabaseName,@ApplicationName, @ErrMsg)	
	END CATCH
	
END
GO
