/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spFeaturedProduct_Insert]
(
    @CustomerID BIGINT,
    @ProductID BIGINT,
    @DisplayOrder INT
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO tblFeaturedProducts(CustomerID, ProductID, DisplayOrder)
    VALUES (@CustomerID, @ProductID, @DisplayOrder);
END
GO
