/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spFlashSale_Insert]
(
    @CustomerID BIGINT,
    @SaleEndTime DATETIME,
    @IsActive BIT
)
AS
BEGIN
    INSERT INTO tblFlashSales (CustomerID, SaleEndTime, IsActive)
    VALUES (@CustomerID, @SaleEndTime, @IsActive);

    SELECT SCOPE_IDENTITY() AS FlashSaleId;
END
GO
