/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spFlashSaleProduct_Insert]
(
    @FlashSaleId INT,
    @ProductID BIGINT,
    @SalePrice DECIMAL(10,2)
)
AS
BEGIN
    INSERT INTO tblFlashSaleProducts(FlashSaleId, ProductID, SalePrice)
    VALUES (@FlashSaleId, @ProductID, @SalePrice);
END
GO
