/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
--exec tblGatewayLog_Insert 5,'12/2021','admin'
CREATE PROCEDURE [dbo].[spGatewayLog_Insert]
(		
	@order_id			udt_LongName,
	@payment_id			udt_LongName,
	@entity				udt_Name,
	@status				udt_Name,
	@method				udt_Name,
	@card_id			udt_Name,
	@bank				udt_Name,
	@wallet				udt_Name,
	@vpa				udt_Name,
	@amount				udt_Name,
	@fee				udt_Name,
	@tax				udt_Name,
	@error_code			udt_Name,
	@error_description	udt_LongDescription,
	@error_source		udt_Name,
	@error_step			udt_Name,
	@error_reason		udt_LongName,
	@amount_refunded	udt_Name,	
	@refund_status		udt_Name,
	@created_at			udt_Name,
	@raw_response		nvarchar(max)

)
AS		
	BEGIN TRY
	
		DECLARE @ErrMsg        varchar(5000)
		DECLARE @Return        VARCHAR(100)	
		DECLARE @PaymentGatewayID	BIGINT
		DECLARE @ProcessingFee	DECIMAL(18, 2)
		
		INSERT INTO tblGatewayLog (order_id,payment_id,entity,status,method,card_id,bank,wallet,vpa,amount,fee,tax,error_code,error_description,error_source,error_step,error_reason,amount_refunded,refund_status,created_at,raw_response)
		VALUES (@order_id,@payment_id,@entity,@status,@method,@card_id,@bank,@wallet,@vpa,@amount,@fee,@tax,@error_code,@error_description,@error_source,@error_step,@error_reason,@amount_refunded,@refund_status,@created_at,@raw_response)
		

		SELECT @PaymentGatewayID = SCOPE_IDENTITY();

		
		SELECT @ProcessingFee = ((CONVERT(MONEY, @fee)*1.0)/100 + (CONVERT(MONEY, @tax)*1.0)/100)

		/* After successfylly entry into Gateway Log, we will update transaction table with some info
		---------------------------------------------------------------------------------------------------------*/
		
		update	tblTransaction
		set		PaymentGatewayID = @PaymentGatewayID,
				rzp_paymentid = @payment_id,
				ProcessingFee = @ProcessingFee,
				PaymentStatus = @status
		where	rzp_orderid = @order_id
		
		
	END TRY
	BEGIN CATCH

		SET @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN

	END CATCH
GO
