/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
--[dbo].[spGetPaymentGatewayProperties] 1
CREATE PROCEDURE [dbo].[spGetPaymentGatewayProperties]
(
	@CustomerID			udt_ID
)
AS		
	BEGIN TRY
	
		DECLARE @ErrMsg        varchar(5000)
		DECLARE @Return        VARCHAR(100)	
		DeCLARE @PaymentGatewayID	BIGINT		
		
		
		SELECT @CustomerID = NULLIF(@CustomerID, 0)

		SELECT @PaymentGatewayID = (SELECT ISNULL(PaymentGatewayID, 0) FROM tblCustomer
		WHERE CustomerID = ISNULL(@CustomerID, CustomerID))
	
		SELECT PaymentGatewayID,MerchantID,RazorpayKey,RazorpaySecret,IsSandbox
		FROM tblPaymentGateway
		WHERE PaymentGatewayID = @PaymentGatewayID
		
	END TRY
	BEGIN CATCH

		SET @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN

	END CATCH
GO
