/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spMyProfile_UploadImage] 
(		
	@AdminUser			varchar(50),
	@UserID				udt_ID,		
	@ProfileImage		varchar(200)
	
)	
AS BEGIN
BEGIN TRY
	DECLARE @ErrMsg varchar(500)	
		
	UPDATE tblUser
	SET ProfileImage = @ProfileImage,
	ModifiedBy = @AdminUser,
	ModifiedOn = [dbo].UTC2Indian(GETDATE())
	WHERE UserID=@UserID
				

END TRY
	BEGIN CATCH	
		SELECT @ErrMsg =  'Image not saved successfully!'
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN
	END CATCH
end
GO
