/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spMyProfile_Update] 
(		
	@AdminUser			varchar(50),
	--tblUser	
	@UserID				udt_ID,
	@UserName			udt_User,
	@Password			VARCHAR(25),
	
	--tblPerson	
	@FirstName			udt_Name,
	@LastName			udt_Name,
	
	--tblAddress
	@Address1			varchar(100),
	@Address2			varchar(100),
	@City				varchar(50),
	@StateID			varchar(50),
	@PinCode			varchar(10),
	
	--tblTelecom
	@HomePhone			varchar(12),
	@Mobile				varchar(13),
	@Email				varchar(100),
	@Email2				varchar(100)
	
)	
AS BEGIN

	DECLARE @ErrMsg varchar(500)	
	DECLARE @NewPersonID	bigint
	DECLARE @ExistingPersonID	bigint	

	BEGIN TRANSACTION
		
		BEGIN
		
			SELECT @ExistingPersonID = PersonID from tblUser WHERE PersonID=@UserID
		
		
			UPDATE tblPerson
			SET FirstName = @FirstName,
			LastName=@LastName,
			ModifiedBy=@AdminUser,
			ModifiedOn=[dbo].UTC2Indian(GETDATE())
			WHERE PersonID=@ExistingPersonID			

			SELECT @ErrMsg = @@error
			IF ( @ErrMsg != 0 ) goto ErrHandler	
			
			UPDATE tblAddress
			SET Address1=@Address1,
			Address2=@Address2,
			City=@City,
			StateID=@StateID,
			PinCode=@PinCode,
			ModifiedBy=@AdminUser,
			ModifiedOn=[dbo].UTC2Indian(GETDATE())
			WHERE PersonID=@ExistingPersonID
			
			SELECT @ErrMsg = @@error
			IF ( @ErrMsg != 0 ) goto ErrHandler	
			
			
			UPDATE tblTelecom
			SET HomePhone=@HomePhone,
			Mobile=@Mobile,
			Email=@Email,
			Email2=@Email2,
			ModifiedBy=@AdminUser,
			ModifiedOn=[dbo].UTC2Indian(GETDATE())
			WHERE PersonID=@ExistingPersonID
			
			SELECT @ErrMsg = @@error
			IF ( @ErrMsg != 0 ) goto ErrHandler				
			


			IF (ISNULL(@UserName, '') <> '' AND ISNULL(@Password, '') <> '')
			BEGIN
				UPDATE tblUser
				SET [Password]=CONVERT(VARBINARY(255), pwdencrypt(@Password)),
				ModifiedBy = @AdminUser,
				ModifiedOn = [dbo].UTC2Indian(GETDATE())
				WHERE UserID=@UserID
				
				SELECT @ErrMsg = @@error
				IF (@ErrMsg != 0 ) goto ErrHandler	
			END							
		END

	COMMIT TRANSACTION			
	RETURN

ErrHandler:
	RAISERROR(@ErrMsg, 16, 1, 0)
	ROLLBACK TRANSACTION
	RETURN
end
GO
