/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spOrder_Delete]
(
	@OrderID		udt_ID
)
AS		
	BEGIN TRY
	
		DECLARE @ErrMsg        varchar(5000)
		
		IF EXISTS (SELECT OrderID FROM tblPayment WHERE ISNULL(OrderID, 0) = @OrderID)
		BEGIN
			SELECT @ErrMsg = 'Order could not be deleted!.'
			RAISERROR(@ErrMsg , 16, 1, 0)
			RETURN	
		END		

		IF EXISTS (SELECT OrderID FROM tblSubscription WHERE ISNULL(OrderID, 0) = @OrderID )
		BEGIN
			SELECT @ErrMsg = 'Order could not be deleted!.'
			RAISERROR(@ErrMsg , 16, 1, 0)
			RETURN	
		END		
		
		--If Exists then delete first
		DELETE tblOrder 
		WHERE OrderID=@OrderID
		
	END TRY
	BEGIN CATCH

		SET @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN

	END CATCH
GO
