/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spOrderType_DDL]
AS
BEGIN
	SELECT OrderTypeID, OrderType
	FROM tblOrderType
	ORDER BY OrderType

END
GO
