/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spOrderList_Select] 
(	
	@CustomerID			udt_ID
)
AS 
BEGIN
	
	DECLARE @StrSql	NVARCHAR(MAX) = ''

	SELECT @CustomerID = NULLIF(@CustomerID, 0)
	
	
	SET	@StrSql =	'
	SELECT o.OrderID, c.CustomerID, c.CustomerName, ISNULL(e.EventID, 0) AS EventID, 
	CASE WHEN o.OrderTypeID = 1 THEN ''Monthly Subscription'' ELSE e.EventName END AS EventName,
	e.StartDate AS EventStartDate,
	o.OrderDescription, o.AccountDisplayName, o.OrderAmount, o.FineAfterDays, o.FinePerDay, o.OneTimeFine, o.Logourl
	FROM tblOrder o
	INNER JOIN tblOrderType ot ON o.OrderTypeID = ot.OrderTypeID
	INNER JOIN tblCustomer c On o.CustomerID = c.CustomerID
	LEFT JOIN tblEvent e ON ISNULL(o.EventID, 0) = e.EventID '

	IF @CustomerID IS NOT NULL
	BEGIN
		SET	@StrSql =	@StrSql + ' WHERE c.CustomerID = ' +  CONVERT(VARCHAR(10), @CustomerID) + ''
	END	
	
	
	SET	@StrSql = @StrSql +  ' ORDER BY c.CustomerName, o.CreatedOn DESC'
	
	--print(@StrSql)

	--Get the list of inspections
	EXEC sp_Executesql @StrSql
	
END
GO
