/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spOrder_InsertUpdate] 
(		
	@UserID						udt_ID,
	@OrderTypeID				udt_ID2,
	@Amount						udt_Money,
	@DiscountAmount				udt_Money,
	@CouponAmount				udt_Money,
	@DeliveryLocationID			udt_ID,
	@OrderID					udt_ID = NULL OUTPUT
	
)	
AS BEGIN

	DECLARE @ErrMsg varchar(500), @PaymentAmount money	

	SELECT @OrderID = ISNULL(@OrderID, 0)

	SELECT @PaymentAmount = @Amount - (ISNULL(@DiscountAmount,0) + ISNULL(@CouponAmount,0))

	CREATE TABLE #OrderDetails (
		CartID			bigint,
		ProductID		bigint, 
		Quantity		bigint, 
		Price			money,
		Discount		money
	)

	INSERT INTO #OrderDetails
	SELECT  c.CartID, c.ProductID,c.Quantity,p.Price,(CASE WHEN d.IsInrOrPercentage = 'I' THEN d.Discount ELSE (p.Price*c.Quantity)*d.Percentage* 1.0/100 END) AS Discount
		FROM tblCart c
		INNER JOIN tblProduct p ON c.ProductID=p.ProductID
		LEFT JOIN tblDiscount d ON p.DiscountID=d.DiscountID
		WHERE UserID=1
		AND IsBuy = 0
		AND IsRemove = 0
		AND IsSaveForLater = 0
	
	BEGIN TRY
		BEGIN TRANSACTION
		
		IF (@OrderID = 0)
		BEGIN
			
			INSERT INTO tblOrder(UserID,OrderTypeID,Amount,DiscountAmount,CouponAmount,PaymentAmount,DeliveryLocationID,CreatedBy,CreatedOn)
			VALUES (@UserID,@OrderTypeID,@Amount,@DiscountAmount,@CouponAmount,@PaymentAmount,@DeliveryLocationID,[dbo].[fn_GetUserNameByID](@UserID),[dbo].UTC2Indian(GETDATE()))
				
			SELECT @OrderID = SCOPE_IDENTITY();

			INSERT INTO tblOrderDetail (OrderID,CartID,ProductID,Quantity,Discount,TotalPrice,CreatedBy,CreatedOn)
			SELECT @OrderID, od.CartID, od.ProductID, od.Quantity, od.Discount, od.Price, [dbo].[fn_GetUserNameByID](@UserID),[dbo].UTC2Indian(GETDATE())
			FROM #OrderDetails od

		END 
		ELSE
		BEGIN				
			UPDATE tblOrder
			SET UserID=@UserID,
			OrderTypeID=@OrderTypeID,
			Amount=@Amount,
			DiscountAmount=@DiscountAmount,
			CouponAmount=@CouponAmount,
			PaymentAmount=@PaymentAmount,
			DeliveryLocationID=@DeliveryLocationID,
			ModifiedBy=[dbo].[fn_GetUserNameByID](@UserID),
			ModifiedOn=[dbo].UTC2Indian(GETDATE())
			WHERE OrderID=@OrderID	
			
			DELETE FROM tblOrderDetail WHERE OrderID=@OrderID

			INSERT INTO tblOrderDetail (OrderID,CartID,ProductID,Quantity,Discount,TotalPrice,CreatedBy,CreatedOn)
			SELECT @OrderID, od.CartID, od.ProductID, od.Quantity, od.Discount, od.Price, [dbo].[fn_GetUserNameByID](@UserID),[dbo].UTC2Indian(GETDATE())
			FROM #OrderDetails od

		END

		COMMIT TRANSACTION		
		RETURN @OrderID	
	END TRY
	BEGIN CATCH				
		ROLLBACK TRANSACTION
		IF (@ErrMsg IS NULL) SELECT @ErrMsg = 'There is a problem to save data. Please contact the support.'
		RAISERROR(@ErrMsg , 16, 1, 0)
		RETURN
		
	END CATCH
END
GO
