/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spOTP_InsertUpdate]
    @UserID BIGINT = 0,
    @Email VARCHAR(100),
    @OTP NVARCHAR(100)
AS
BEGIN
    
    DECLARE @ErrMsg VARCHAR(5000)
    DECLARE @OtpCreatedOn DATETIME

    -- Resolve UserID if not provided
    IF @UserID = 0
    BEGIN
        SELECT @UserID = u.UserID
        FROM tblUser u
        WHERE u.Email = @Email

        IF @UserID IS NULL
        BEGIN
            SELECT @ErrMsg = 'Invalid Email. User not found'
            GOTO ErrHandler
        END
    END

    -- Validate UserID
    IF NOT EXISTS(
        SELECT 1
        FROM tblUser u
        WHERE u.UserID = @UserID
    )
    BEGIN
        SELECT @ErrMsg = 'Invalid User'  
        GOTO ErrHandler      
    END;
    
    -- Insert if not exists
    IF NOT EXISTS(
        SELECT 1
        FROM tblUserVerification uv
        WHERE uv.UserID = @UserID
    )
    BEGIN
        INSERT INTO tblUserVerification
        (
            UserID,
            OTP,
            CreatedOn,
            IsVerified,
            Attempts,
            ExpiresOn,
			Email
        )
        VALUES
        (
            @UserID,
            @OTP,
            SYSDATETIME(),
            0,
            0,
            DATEADD(MINUTE, 10, SYSDATETIME()),
			@Email
        )

        RETURN
    END;

    -- Check existing OTP
    SELECT @OtpCreatedOn = uv.CreatedOn
    FROM tblUserVerification uv
    WHERE uv.UserID = @UserID;

    -- if expired → update
    IF DATEDIFF(MINUTE, @OtpCreatedOn, SYSDATETIME()) > 10
    BEGIN
        UPDATE tblUserVerification
        SET 
            OTP = @OTP,
            CreatedOn = SYSDATETIME(),
            ExpiresOn = DATEADD(MINUTE, 10, SYSDATETIME()),
            Attempts = 0,
            IsVerified = 0
        WHERE UserID = @UserID;

        RETURN
    END;

    -- Prevent resend
    SELECT @ErrMsg = 'OTP already sent. Please wait before requesting a new one'
    GOTO ErrHandler

END

ERRHANDLER:   
BEGIN  
    RAISERROR(@ErrMsg, 16, 1)  
    RETURN  
END
GO
