/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
--exec tblPayment_Insert 5,'12/2021','admin'
CREATE PROCEDURE [dbo].[spPayment_Insert]
(	
	@OrderID			udt_ID,
	@Amount				udt_Money=NULL,
	@UserName			udt_Name,
	@PaymentID			udt_ID = NULL OUTPUT
)
AS		
	BEGIN TRY
	
		DECLARE @ErrMsg        varchar(5000)
		DECLARE @Return        VARCHAR(100)			
		
		INSERT INTO tblPayment (OrderID,Amount,PaymentDate,CreatedBy,CreatedOn)
		VALUES (@OrderID, @Amount, dbo.UTC2Indian(GETDATE()), @UserName, dbo.UTC2Indian(GETDATE()))
		
		
		SELECT @PaymentID = SCOPE_IDENTITY()					
		
		RETURN @PaymentID

	END TRY
	BEGIN CATCH

		SET @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN

	END CATCH
GO
