/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
--EXEC spPaymentDetails_SelectByID 1
CREATE PROCEDURE [dbo].[spPaymentDetails_SelectByID] 
(		
	@PaymentID			udt_ID
)
AS 
BEGIN	
	DECLARE @ErrMsg        varchar(5000)

	BEGIN TRY	
		SELECT p.PaymentID, p.OrderID, p.PaymentDate, u.UserID, pr.FirstName + ' ' + pr.LastName AS UserName, 
		o.Amount, o.DiscountAmount, o.CouponAmount, o.DeliveryLocationID
		FROM tblPayment p
		INNER JOIN tblOrder o ON p.OrderID = o.OrderID
		LEFT JOIN tblUser u ON ISNULL(o.UserID, 0) = u.UserID
		LEFT JOIN tblPerson pr ON u.PersonID = pr.PersonID
		WHERE p.PaymentID=@PaymentID
	END TRY
	BEGIN CATCH

		SET @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN

	END CATCH
END
GO
