/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spProductImage_InsertUpdate]
(	
	@UserName						varchar(100),
	@ProductImageID					bigint,
	@ProductID						bigint,
	@ImageURL						varchar(255)
)
as
begin
	declare @ErrMsg varchar(500)
	begin transaction
	
	if (@ProductID <> 0)
	begin
	
		if exists (select * from tblProductImage where ProductID = @ProductID and ProductImageID = @ProductImageID)
			begin
				update tblProductImage
				set ImageURL = @ImageURL, ModifiedBy=@UserName, ModifiedOn=[dbo].UTC2Indian(GETDATE())
				where ProductID = @ProductID and ProductImageID = @ProductImageID
				
				select @ErrMsg = @@error
				if (@ErrMsg != 0 ) goto ErrHandler	
			end
		else
		
			begin		
			insert into tblProductImage (ProductID, ImageURL, CreatedBy, CreatedOn)
			values (@ProductID, @ImageURL, @UserName, [dbo].UTC2Indian(GETDATE()))
			
			select @ErrMsg = @@error
			if (@ErrMsg != 0 ) goto ErrHandler			
			end
	end	
		
	commit transaction
	return		
	
ErrHandler:
	RAISERROR(@ErrMsg, 16, 1, 0)
	rollback tran
	return
end
GO
