/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spProductCategory_DDL]
 @CustomerID BIGINT
AS
BEGIN
	SELECT CategoryID, Category
	FROM tblProductCategory
	WHERE CustomerID = @CustomerID
	ORDER BY DisplayOrder;

END
GO
