/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spProductImage_Select]
(		
	@ProductID						bigint
)
AS
BEGIN
BEGIN TRY
	SET NOCOUNT ON
			
	SELECT ProductID, ProductImageID, ImageURL, CreatedBy, CONVERT(VARCHAR(10), CreatedOn, 101) AS CreatedOn
	FROM tblProductImage
	WHERE ProductID=@ProductID		
	
END TRY
BEGIN CATCH
	 DECLARE @Msg NVARCHAR(MAX)   
     SELECT @Msg=ERROR_MESSAGE()  
	 RAISERROR(@Msg , 16, 1, 0)
END CATCH
END
GO
