/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spProduct_GetDetails] 
(		
	@ProductID			udt_ID
)
AS 
BEGIN	
	DECLARE @ErrMsg        varchar(5000)

	BEGIN TRY	
		SELECT ProductID,ProductName,ProductCaption,ProductDescription,CategoryID,SubCategoryID,BrandID,SizeID,ColorID,ImageURL,Price,DiscountID,CouponID,
		CustomerID,IsActive,DropDate,ActivationDate,[Status],CreatedBy,CreatedOn,ModifiedBy,ModifiedOn
		FROM tblProduct
		WHERE ProductID=@ProductID
	END TRY
	BEGIN CATCH

		SET @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN

	END CATCH
END
GO
