/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spProductBrand_DDL]
(
	@CategoryID		BIGINT,
	@SubCategoryID	BIGINT
)
AS
BEGIN
	
	SELECT @CategoryID = NULLIF(@CategoryID, 0)
	SELECT @SubCategoryID = NULLIF(@SubCategoryID, 0)

	SELECT CategoryID, SubCategoryID, BrandID, Brand, TotalItems = CAST(10 AS INT)
	FROM tblProductBrand 
	WHERE CategoryID=ISNULL(@CategoryID, CategoryID) AND SubCategoryID=ISNULL(@SubCategoryID, SubCategoryID)
	ORDER BY DisplayOrder

END
GO
