/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spProduct_Delete]
(
	@ProductID		udt_ID
)
AS		
	BEGIN TRY
	
		DECLARE @ErrMsg        varchar(5000)
		
		--IF EXISTS (SELECT ProductID FROM tblPayment WHERE ISNULL(ProductID, 0) = @ProductID)
		--BEGIN
		--	SELECT @ErrMsg = 'Product could not be deleted!.'
		--	RAISERROR(@ErrMsg , 16, 1, 0)
		--	RETURN	
		--END		

		--IF EXISTS (SELECT ProductID FROM tblSubscription WHERE ISNULL(ProductID, 0) = @ProductID )
		--BEGIN
		--	SELECT @ErrMsg = 'Product could not be deleted!.'
		--	RAISERROR(@ErrMsg , 16, 1, 0)
		--	RETURN	
		--END		
		
		--If Exists then delete first
		DELETE tblProduct 
		WHERE ProductID=@ProductID
		
	END TRY
	BEGIN CATCH

		SET @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN

	END CATCH
GO
