/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spProduct_InsertUpdate] 
(		
	@AdminUserName				udt_Name,
	@CustomerID					udt_ID,
	@ProductID					udt_ID,
	@CategoryID					udt_ID,
	@SubCategoryID				udt_ID,
	@BrandID					udt_ID,
	@SizeID						udt_ID,
	@ColorID					udt_ID,
	@ProductName				nvarchar(500),
	@ProductDescription			nvarchar(max),
	@ProductCaption				nvarchar(500),
	@ImageURL					udt_Description='',
	@Price						udt_Money,
	@DiscountID					udt_ID,
	@CouponID					udt_ID,
	@Status						udt_Name
	
)	
AS BEGIN

	DECLARE @ErrMsg varchar(500)
		

	SELECT @ProductID = ISNULL(@ProductID, 0), @AdminUserName = ISNULL(@AdminUserName, 'system')
			
	BEGIN TRY
		BEGIN TRANSACTION
		
		IF (@ProductID = 0)
		BEGIN		
			
			IF EXISTS (SELECT ProductName FROM tblProduct WHERE ProductName = LTRIM(RTRIM(@ProductName)) AND CategoryID=@CategoryID AND CustomerID=@CustomerID AND SizeID=@SizeID AND ColorID=@ColorID)
			BEGIN
				SELECT @ErrMsg = 'Product name already exists. Please try another product name.'
				RAISERROR(@ErrMsg , 16, 1, 0)
				RETURN	
			END			
			
			INSERT INTO tblProduct(ProductName,ProductDescription,ProductCaption,CategoryID,SubCategoryID,BrandID,SizeID,ColorID,ImageURL,Price,DiscountID,CouponID,CustomerID,IsActive,ActivationDate,[Status],CreatedBy,CreatedOn)
			VALUES (@ProductName,@ProductDescription,@ProductCaption,@CategoryID,@SubCategoryID,@BrandID,@SizeID,@ColorID,@ImageURL,@Price,@DiscountID,@CouponID,@CustomerID,1,[dbo].UTC2Indian(GETDATE()),@Status,@AdminUserName,[dbo].UTC2Indian(GETDATE()))
												
		END 
		ELSE
		BEGIN

			IF EXISTS (SELECT ProductName FROM tblProduct WHERE ProductName = LTRIM(RTRIM(@ProductName)) AND CategoryID=@CategoryID AND CustomerID=@CustomerID AND ProductID <> @ProductID)
			BEGIN
				SELECT @ErrMsg = 'Product name already exists. Please try another product name.'
				RAISERROR(@ErrMsg , 16, 1, 0)
				RETURN	
			END	
			
			UPDATE tblProduct
			SET ProductName=@ProductName,
				ProductDescription=@ProductDescription,
				ProductCaption=@ProductCaption,
				CategoryID=@CategoryID,
				SubCategoryID=@SubCategoryID,
				BrandID=@BrandID,
				SizeID=@SizeID,
				ColorID=@ColorID,
				ImageURL=CASE WHEN @ImageURL='' THEN ImageURL ELSE @ImageURL END,
				Price=@Price,
				DiscountID=@DiscountID,
				CouponID=@CouponID,
				[Status]=@Status,
				ModifiedBy=@AdminUserName,
				ModifiedOn=[dbo].UTC2Indian(GETDATE())
			WHERE ProductID=@ProductID	

		END

		COMMIT TRANSACTION		
		RETURN	
	END TRY
	BEGIN CATCH				
		ROLLBACK TRANSACTION
		IF (@ErrMsg IS NULL) SELECT @ErrMsg = 'There is a problem to save data. Please contact the administrator.'
		RAISERROR(@ErrMsg , 16, 1, 0)
		RETURN
		
	END CATCH
END
GO
