/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spProductSubCategory_DDL]
AS
BEGIN
	SELECT pc.CategoryID, pc.Category, sc.SubCategoryID, sc.SubCategory
	FROM tblProductSubCategory sc
	INNER JOIN tblProductCategory pc ON sc.CategoryID = pc.CategoryID
	ORDER BY sc.DisplayOrder

END
GO
