/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spProductRating_InsertUpdate] 
(		
	@UserID						udt_ID,
	@ProductID					udt_ID,
	@Rating						udt_ID2
	
)	
AS BEGIN

	DECLARE @ErrMsg varchar(500)
		

	SELECT @ProductID = ISNULL(@ProductID, 0)
			
	BEGIN TRY
		BEGIN TRANSACTION

		IF NOT EXISTS (SELECT 1 FROM tblProductRatings WHERE ProductID = @ProductID AND UserID = @UserID)
		
		BEGIN	
			
			INSERT INTO tblProductRatings(ProductID, UserID, Rating, CreatedOn)
			VALUES (@ProductID, @UserID, @Rating, [dbo].UTC2Indian(GETDATE()))
												
		END 
		ELSE
		BEGIN			
			
			UPDATE tblProductRatings
			SET 
				Rating = @Rating,
				CreatedOn=[dbo].UTC2Indian(GETDATE())
			WHERE ProductID=@ProductID	AND UserID = @UserID

		END

		COMMIT TRANSACTION		
		RETURN	
	END TRY
	BEGIN CATCH				
		ROLLBACK TRANSACTION
		IF (@ErrMsg IS NULL) SELECT @ErrMsg = 'There is a problem to save data. Please contact the administrator.'
		RAISERROR(@ErrMsg , 16, 1, 0)
		RETURN
		
	END CATCH
END
GO
