/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spProductImage_Delete]
(	
	@ProductImageID					bigint
)
as
begin
	declare @ErrMsg varchar(500)

	begin transaction

		delete tblProductImage
		where ProductImageID = @ProductImageID
				
		select @ErrMsg = @@error
		if (@ErrMsg != 0 ) goto ErrHandler	
		
	commit transaction
	return
		
	
ErrHandler:
	RAISERROR(@ErrMsg, 16, 1, 0)
	rollback tran
	return
end
GO
