/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spRefreshToken_GetUserByRefreshToken] (
    @RefreshToken NVARCHAR(500)
)
AS
BEGIN 
    SELECT 
        [UserID],
        [UserName],
        [UserMobile],
        [UserTypeCode],
        [Email],
        [RefreshToken],
        [RefreshTokenExpiry],
        [isActive]
    FROM tblUser
    WHERE RefreshToken = @RefreshToken;
END
GO
