/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spRefreshToken_Insert] (
    @UserID udt_ID,
    @RefreshToken NVARCHAR(500),
    @RefreshTokenExpiry DATETIME
)
AS
BEGIN
    UPDATE tblUser
    SET
        RefreshToken = @RefreshToken,
        RefreshTokenExpiry = @RefreshTokenExpiry
    WHERE UserID = @UserID;
END
GO
