/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
--exec tblTransaction_Insert 5,'12/2021','admin'
CREATE PROCEDURE [dbo].[spTransaction_Insert]
(	
	@PaymentID			udt_ID,
	@MerchantID			udt_Name,
	@rzp_orderid		udt_LongName,
	@Amount			    udt_Money,	
	@Currency			udt_Code10=NULL,
	@AdminUser			udt_Name,
	@TransactionID		udt_ID = NULL OUTPUT
)
AS		
	BEGIN TRY
	
		DECLARE @ErrMsg        varchar(5000)
		DECLARE @Return        VARCHAR(100)	
		DECLARE @amt		   DECIMAL(18,2)

		DECLARE @OrderID		BIGINT


		SET @amt = (@Amount*1.0)/100
		
		INSERT INTO tblTransaction (PaymentID,MerchantID,rzp_orderid,Amount,Currency,CreatedBy,CreatedOn)
		VALUES (@PaymentID,@MerchantID,@rzp_orderid,@amt,@Currency,@AdminUser, dbo.UTC2Indian(GETDATE()))

		SELECT @TransactionID = SCOPE_IDENTITY()		

		--Update Cart after buying the products
		SELECT @OrderID = OrderID FROM tblPayment WHERE PaymentID=@PaymentID

		UPDATE c
		SET c.IsBuy = 1, c.BuyDate = dbo.UTC2Indian(GETDATE())
		FROM tblCart c
		INNER JOIN tblOrderDetail d ON c.CartID = d.CartID	
		
					
		
		RETURN @TransactionID
		
	END TRY
	BEGIN CATCH

		SET @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN

	END CATCH
GO
