/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spUserLoginLog_Insert] 
(	
	@UserID				udt_ID,
	@DeviceName			udt_Code15,	
	@Browser			udt_Code50
)
AS 
BEGIN

	DECLARE @ErrMsg				varchar(500)	

	BEGIN TRANSACTION

		INSERT INTO tblUserLoginLog (UserID, DeviceName, Browser, LogTime)
		VALUES (@UserID, @DeviceName, @Browser, [dbo].UTC2Indian(GETDATE()))
			
		SELECT @ErrMsg = @@error
		IF ( @ErrMsg != 0 ) goto ErrHandler	

	COMMIT TRANSACTION			
	RETURN

ErrHandler:
	RAISERROR(@ErrMsg, 16, 1, 0)
	rollback tran
	return
end
GO
