/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spUser_GetById]
(
    @UserID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        UserID,
        UserName,
        Email,
        UserTypeCode,
        CAST(IsActive AS BIT) AS IsActive
    FROM tblUser
    WHERE UserID = @UserID;
END
GO
