/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spUserDoc_Insert]
(
	@AdminUser	varchar(40),
	@UserID		udt_ID,
	@DocTypeID	udt_ID2,
	@DocPath	varchar(200)
)
AS		
	BEGIN TRY
	
		DECLARE @ErrMsg        varchar(5000)
		DECLARE @Return        VARCHAR(100)			
		
		--If Exists then delete first
		DELETE tblUserDoc 
		WHERE UserID=@UserID AND DocTypeID = @DocTypeID
		
		INSERT INTO tblUserDoc (UserID, DocTypeID, DocPath, CreatedBy, CreatedOn)
		SELECT @UserID, @DocTypeID, @DocPath, @AdminUser, [dbo].UTC2Indian(GETDATE())
		
	END TRY
	BEGIN CATCH

		SET @ErrMsg = ERROR_MESSAGE()
		RAISERROR(@ErrMsg, 16, 1, 0)
		RETURN

	END CATCH
GO
