/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spUser_Delete]
(
	@UserID		udt_ID
)
AS
BEGIN
	DECLARE @ErrMsg VARCHAR(500)
	DECLARE @PersonID  BIGINT	

	BEGIN TRANSACTION
	
		DELETE t
		FROM tblTelecom t
		INNER JOIN tblPerson p ON t.PersonID = p.PersonID
		INNER JOIN tblUser u ON p.PersonID=u.PersonID
		WHERE u.UserID = @UserID	
		
		SELECT @ErrMsg = @@error
		IF ( @ErrMsg != 0 ) goto ErrHandler
		
		
		DELETE a
		FROM tblAddress a
		INNER JOIN tblPerson p ON a.PersonID = p.PersonID
		INNER JOIN tblUser u ON p.PersonID=u.PersonID
		WHERE u.UserID = @UserID	
		
		SELECT @ErrMsg = @@error
		IF ( @ErrMsg != 0 ) goto ErrHandler	
		
		--Get the PersonID 	before deleting data from User table
		SELECT @PersonID = (SELECT PersonID FROM tblUser WHERE UserID = @UserID)
		
		DELETE FROM tblUser
		WHERE UserID = @UserID
		
		SELECT @ErrMsg = @@error
		IF ( @ErrMsg != 0 ) goto ErrHandler
		
		--Finally deleted the person;
		DELETE p
		FROM tblPerson p
		WHERE p.PersonID = @PersonID	
		
		SELECT @ErrMsg = @@error
		IF ( @ErrMsg != 0 ) goto ErrHandler
			
	COMMIT TRANSACTION				
	RETURN

ErrHandler:
	RAISERROR(@ErrMsg, 16, 1, 0)
	ROLLBACK TRANSACTION
	RETURN
END
GO
