/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spUser_ActivateDeactivate]
(
	@UserID		udt_ID,
	@Activate	bit,
	@AdminUser	udt_Name
)
AS
BEGIN
	DECLARE @ErrMsg VARCHAR(500)

	BEGIN TRANSACTION
	
			
		UPDATE tblUser
		SET IsActive=@Activate,
		ModifiedBy=@AdminUser,
		ModifiedOn=[dbo].UTC2Indian(GETDATE())
		WHERE UserID = @UserID
		
		SELECT @ErrMsg = @@error
		IF ( @ErrMsg != 0 ) goto ErrHandler
							
	COMMIT TRANSACTION				
	RETURN

ErrHandler:
	RAISERROR(@ErrMsg, 16, 1, 0)
	ROLLBACK TRANSACTION
	RETURN
END
GO
