/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spUser_InsertUpdate] 
(        
    @AdminUserName        VARCHAR(50),
    @CustomerID            udt_ID,

    -- tblUser    
    @UserID                udt_ID,
    @UserName            udt_User = NULL,
    @Password            VARCHAR(25) = NULL,
    @Email                VARCHAR(100) = NULL,   -- ✅ NEW

    -- tblPerson    
    @FirstName            udt_Name,
    @LastName            udt_Name,

    @NewUserID            udt_ID = NULL OUTPUT
)    
AS 
BEGIN

    DECLARE @ErrMsg VARCHAR(500)    
    DECLARE @NewPersonID BIGINT
    DECLARE @ExistingPersonID BIGINT
        
    SELECT @UserID = ISNULL(@UserID, 0)
    
    BEGIN TRY
        BEGIN TRANSACTION
        
        -- =============================================
        -- INSERT MODE
        -- =============================================
        IF (@UserID = 0)
        BEGIN        
            
            -- Username check
            IF EXISTS (
                SELECT 1 FROM tblUser 
                WHERE ISNULL(@UserName, '') <> '' 
                AND UserName = LTRIM(RTRIM(@UserName))
            )
            BEGIN
                SELECT @ErrMsg = 'User name already exists. Please try another.'
                RAISERROR(@ErrMsg , 16, 1)
                RETURN    
            END

            -- Email check
            IF EXISTS (
                SELECT 1 FROM tblUser 
                WHERE ISNULL(@Email, '') <> '' 
                AND Email = LTRIM(RTRIM(@Email))
            )
            BEGIN
                SELECT @ErrMsg = 'Email already exists. Please use another email.'
                RAISERROR(@ErrMsg , 16, 1)
                RETURN    
            END

            -- Insert Person
            INSERT INTO tblPerson (
                CustomerID,
                FirstName,
                LastName,
                CreatedBy,
                CreatedOn
            )
            VALUES (
                @CustomerID,
                @FirstName,
                @LastName,
                @AdminUserName,
                [dbo].UTC2Indian(GETDATE())
            )
                                    
            SELECT @NewPersonID = SCOPE_IDENTITY()

            -- Insert User (WITH EMAIL ✅)
            INSERT INTO tblUser (
                UserName,
                [Password],
                PersonID,
                Email,
                CreatedBy,
                CreatedOn
            )
            VALUES (
                @UserName,
                CONVERT(VARBINARY(255), pwdencrypt(@Password)),
                @NewPersonID,
                @Email,
                @AdminUserName,
                [dbo].UTC2Indian(GETDATE())
            )
            
            SELECT @UserID = SCOPE_IDENTITY()
                                    
        END 
        
        -- =============================================
        -- UPDATE MODE
        -- =============================================
        ELSE
        BEGIN
            
            SELECT @ExistingPersonID = PersonID 
            FROM tblUser 
            WHERE UserID = @UserID

            -- Update Person
            UPDATE tblPerson
            SET FirstName = @FirstName,
                LastName = @LastName,
                ModifiedBy = @AdminUserName,
                ModifiedOn = [dbo].UTC2Indian(GETDATE())
            WHERE PersonID = @ExistingPersonID
                                
        END

        -- =============================================
        -- USER UPDATE (Username / Password / Email)
        -- =============================================
        IF (ISNULL(@UserName, '') <> '' AND ISNULL(@Password, '') <> '')
        BEGIN
            -- If same username
            IF EXISTS (
                SELECT 1 FROM tblUser 
                WHERE UserName = @UserName AND UserID = @UserID
            )
            BEGIN
                UPDATE tblUser
                SET Email = ISNULL(@Email, Email),   -- ✅ Email update
                    [Password] = CONVERT(VARBINARY(255), pwdencrypt(@Password))
                WHERE UserID = @UserID                
            END
            ELSE
            BEGIN
                -- Username duplicate check
                IF EXISTS (
                    SELECT 1 FROM tblUser 
                    WHERE UserName = LTRIM(RTRIM(@UserName))
                )
                BEGIN
                    SELECT @ErrMsg = 'User name already exists. Please try another.'
                    RAISERROR(@ErrMsg , 16, 1)
                    RETURN    
                END

                -- Email duplicate check
                IF EXISTS (
                    SELECT 1 FROM tblUser 
                    WHERE Email = LTRIM(RTRIM(@Email))
                    AND UserID <> @UserID
                )
                BEGIN
                    SELECT @ErrMsg = 'Email already exists. Please use another email.'
                    RAISERROR(@ErrMsg , 16, 1)
                    RETURN    
                END

                UPDATE tblUser
                SET UserName = @UserName,
                    Email = @Email,   -- ✅ Email update
                    [Password] = CONVERT(VARBINARY(255), pwdencrypt(@Password))
                WHERE UserID = @UserID                
            END                    
        END    
        
        SET @NewUserID = @UserID

        COMMIT TRANSACTION    
        
        RETURN @NewUserID    

    END TRY

    BEGIN CATCH                
        ROLLBACK TRANSACTION

        IF (@ErrMsg IS NULL) 
            SELECT @ErrMsg = 'There is a problem saving data. Please contact administrator.'

        RAISERROR(@ErrMsg , 16, 1)
        RETURN
        
    END CATCH
END
GO
