/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spUserList_Select] 
(	
	@CustomerID			udt_ID,
	@AdminUserID		BIGINT
)
AS 
BEGIN
	
	DECLARE @StrSql	NVARCHAR(MAX) = ''
	
	SET	@StrSql =	'
	SELECT u.UserID, u.UserName, p.FirstName, p.LastName, FullName=p.FirstName + '' '' + p.LastName,	
			u.PersonID, u.UserTypeCode, ut.UserType, u.Designation, u.NumberOfRowsPerPage,			
			u.CanAccessFinancialInformation, u.CanAccessAdmin, u.IsActive, u.CreatedBy, u.CreatedOn
	FROM tblUser u
	INNER JOIN tblPerson p ON u.PersonID=p.PersonID
	LEFT JOIN tblUserType ut ON u.UserTypeCode = ut.UserTypeCode
	LEFT JOIN tblAddress ad ON p.PersonID=ad.PersonID
	WHERE ISNULL(u.UserTypeCode, '''') <> ''SY'' 
	AND p.CustomerID = ' +  CONVERT(VARCHAR(10), @CustomerID) + '
	AND u.UserID <> ' +  CONVERT(VARCHAR(10), @AdminUserID) + ''

	
	SET	@StrSql = @StrSql +  ' ORDER BY p.FirstName, p.LastName '

	--Get the list of inspections
	EXEC sp_Executesql @StrSql
	
END
GO
