/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spUserType_DDL]
AS
BEGIN
	SELECT UserTypeID, UserTypeCode, UserType
	FROM tblUserType
	WHERE UserTypeCode NOT IN ('SY','RQ')

END
GO
