/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spUserDetails_SelectByID]   
 ( 
	@UserID			    udt_ID
 )  
AS  
BEGIN  
  
 DECLARE @ErrMsg VARCHAR(5000)  

  
 --get the details of the user and associated person  
 SELECT u.UserID, u.UserName, u.UserTypeCode, u.IsActive, u.PersonID, 
		p.PersonTypeCode,
		p.FirstName,
		p.MiddleInitials,
		p.LastName,
		p.ParentsFirstName,
		p.ParentsMiddleInitials,
		p.ParentsLastName,
		p.SpouseFirstName,
		p.SpouseMiddleInitials,
		p.SpouseLastName,
		p.Child1FirstName,
		p.Child1MiddleInitials,
		p.Child1LastName,
		p.Child2FirstName,
		p.Child2MiddleInitials,
		p.Child2LastName,
		p.TotalAdultFamilyMember,
		p.TotalMinorFamilyMember,
		p.DOB,
		p.PlaceOfBirth,
		LTRIM(RTRIM(p.GenderCode)) AS GenderCode,				
		p.Occupation,
		p.BloodGroupID,
		p.WorkingIn,
		p.KnownMember,
		p.ReasonToJoin,
		a.Address1, a.Address2, a.City, a.StateID, a.PinCode,
		t.Email, t.Email2, t.HomePhone, t.Mobile
 FROM    tblUser u
	 INNER JOIN tblPerson p ON u.PersonID = p.PersonID 
	 LEFT JOIN tblAddress a ON u.PersonID = a.PersonID 
	 LEFT JOIN tblTelecom t ON u.PersonID = t.PersonID
 WHERE  u.UserID = @UserID
	  
 RETURN  
   
END  
ERRHANDLER:   
BEGIN  
 RAISERROR(@ErrMsg, 16, 1, 0)  
 RETURN  
END
GO
