/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[spValidate_User]   
 (  
  @Email              VARCHAR(100),  
  @Password            VARCHAR(30)
 )  
AS  
BEGIN  
  
 DECLARE @ErrMsg VARCHAR(5000)  
 DECLARE @UserID BIGINT

 -- Check if the Email and Password are correct first
 SELECT @UserID = UserID
 FROM tblUser   
 WHERE Email = @Email  
 AND pwdcompare(@Password, [Password]) = 1

 IF @UserID IS NULL
 BEGIN  
  SELECT @ErrMsg = 'Invalid Email/ Password! Please try again.'  
  GOTO ErrHandler  
 END  

 -- Check if the user is verified in tblUserVerification
 IF NOT EXISTS (
     SELECT 1 
     FROM tblUserVerification 
     WHERE UserID = @UserID AND IsVerified = 1
 )
 BEGIN
  SELECT @ErrMsg = 'Your account is not verified. Please verify your OTP before logging in.'
  GOTO ErrHandler
 END
  
 -- Get the details of the user (Only reached if verified)
 SELECT 
    u.UserID, 
    u.UserName, 
    u.Email, 
    u.UserTypeCode, 
    u.IsActive, 
    u.PersonID, 
    p.FirstName, 
    (p.FirstName + ' ' + p.LastName) AS Name
 FROM tblUser u
 INNER JOIN tblPerson p ON u.PersonID = p.PersonID  
 WHERE u.UserID = @UserID
      
 RETURN  
   
END  
ERRHANDLER:   
BEGIN  
 RAISERROR(@ErrMsg, 16, 1)  
 RETURN  
END
GO
