/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[tk_SearchFromObject] (
	@SearchString	 Varchar(100),
	@SearchType	Varchar(100)	= NULL
)
AS
BEGIN
	SET NOCOUNT ON
	DECLARE @SystemSearchType 	Varchar(200)
	DECLARE @ObjName		Varchar(100)
	DECLARE @ObjType		Varchar(10)
	IF @SearchType = 'sp' SET @SystemSearchType = 'P'
	IF @SearchType = 'table' SET @SystemSearchType = 'U'
	IF @SearchType = 'function' SET @SystemSearchType = 'FN'
	IF @SearchType = 'function1' SET @SystemSearchType = 'TF'	
	IF @SearchType = 'function2' SET @SystemSearchType = 'IF'	
	IF @SearchType = 'Trigger' SET @SystemSearchType = 'TR'	

	CREATE TABLE #TempNamesSelected(ObjName Varchar(100), ObjType varchar(10))

	IF LOWER(ISNULL(@SearchType,'table')) = 'table' BEGIN
		INSERT #TempNamesSelected 
		SELECT o.name, o.type FROM sys.columns c, sys.objects o
		WHERE c.name Like '%'+@SearchString+'%'
		AND c.object_id = o.object_id
		AND o.type='U'
		order by o.name
	END


	IF ISNULL(@SearchType,'') <> '' BEGIN
		DECLARE obj_cursor CURSOR FOR 
		SELECT ss.name + '.' + s.name AS name,s.Type
		FROM sys.objects s
		 INNER JOIN sys.schemas ss ON s.schema_id = ss.schema_id
		WHERE s.Type = @SystemSearchType
	END 
	ELSE BEGIN
		DECLARE obj_cursor CURSOR FOR 
		SELECT ss.name + '.' + s.name AS name,s.Type 
		FROM sys.objects s
		 INNER JOIN sys.schemas ss ON s.schema_id = ss.schema_id
		WHERE s.Type in ('P','FN','TF','IF','TR')
	END  


	IF LOWER(ISNULL(@SearchType,'')) <> 'table' BEGIN
		CREATE TABLE #temp(temptext text)
		OPEN obj_cursor
		FETCH NEXT FROM obj_cursor 
		INTO @ObjName, @ObjType
		WHILE @@FETCH_STATUS = 0
		BEGIN
			INSERT #temp
			Exec sp_helptext @ObjName
			IF Exists(SELECT * FROM #temp WHERE charIndex(@SearchString,temptext) >0)
				INSERT #TempNamesSelected Select @ObjName, @ObjType
			Truncate Table #temp
			FETCH NEXT FROM obj_cursor INTO @ObjName, @ObjType
	      	END
	   	CLOSE obj_cursor
	END     	

   	DEALLOCATE obj_cursor

	SELECT * FROM #TempNamesSelected order by ObjType, ObjName

	SET NOCOUNT ON
END
GO
