/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblAddress] (
	[AddressID]		[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[PersonID]		[dbo].[udt_ID]	 NOT NULL CONSTRAINT [DF_tblAddress_PersonID] DEFAULT ((0)),
	[Address1]		[dbo].[udt_LongName] NULL,
	[Address2]		[dbo].[udt_LongName] NULL,
	[City]			[dbo].[udt_Code50]	 NULL,
	[StateID]		[dbo].[udt_ID]	 NULL,
	[PinCode]		[dbo].[udt_Zip]	 NULL,
	[Location]		[dbo].[udt_LongDescription]	 NULL,
	[CreatedBy]		[dbo].[udt_Name] NOT NULL,
	[CreatedOn]		[dbo].[udt_Datetime] NOT NULL,
	[ModifiedBy]	[dbo].[udt_Name] NULL,
	[ModifiedOn]	[dbo].[udt_Datetime] NULL,
	[isDefault]		[bit]					 NOT NULL CONSTRAINT [DF_tblAddress_isDefault] DEFAULT ((0)),
	CONSTRAINT [PK_tblAddress] PRIMARY KEY CLUSTERED ([AddressID])
) ON [PRIMARY]
GO
