/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblBrands] (
	[BrandId]			[int]			 IDENTITY(1, 1) NOT NULL,
	[CustomerID]		[bigint]		 NULL,
	[BrandName]			[nvarchar](200)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DisplayOrder]		[int]			 NULL,
	CONSTRAINT [PK__tblBrand__DAD4F05EDCD121ED] PRIMARY KEY CLUSTERED ([BrandId])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBrands] ADD CONSTRAINT [FK__tblBrands__Custo__43D61337] FOREIGN KEY ([CustomerID]) REFERENCES [dbo].[tblCustomer] ([CustomerID])
GO
