/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblCustomer] (
	[CustomerID]			[bigint]		 IDENTITY(1, 1) NOT NULL,
	[CustomerName]			[varchar](100)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ApplicationName]		[varchar](50)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Address]				[varchar](500)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Phone1]				[varchar](20)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Phone2]				[varchar](20)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email]					[varchar](100)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DBServerName]			[varchar](50)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DatabaseName]			[varchar](50)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DBUserName]			[varchar](40)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DBPassword]			[varchar](30)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsActive]				[bit]			 NULL,
	[StartDate]				[datetime]		 NULL,
	[EndDate]				[datetime]		 NULL,
	[PaymentGatewayID]		[bigint]		 NULL,
	[CreatedOn]				[datetime]		 NULL CONSTRAINT [DF__tblCustom__CreatedOn] DEFAULT (getdate()),
	CONSTRAINT [PK_tblCustomer] PRIMARY KEY CLUSTERED ([CustomerID])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCustomer] ADD CONSTRAINT [FK_tblCustomer_tblPaymentGateway] FOREIGN KEY ([PaymentGatewayID]) REFERENCES [dbo].[tblPaymentGateway] ([PaymentGatewayID])
GO
