/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblCart] (
	[CartID]				[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[UserID]				[dbo].[udt_ID]	 NOT NULL,
	[ProductID]				[dbo].[udt_ID]	 NOT NULL,
	[Quantity]				[dbo].[udt_ID2]	 NOT NULL,
	[AddDate]				[dbo].[udt_Datetime] NULL,
	[IsBuy]					[dbo].[udt_YesNo]	 NOT NULL CONSTRAINT [DF_tblCart_IsBuy] DEFAULT ((0)),
	[BuyDate]				[dbo].[udt_Datetime] NULL,
	[IsRemove]				[dbo].[udt_YesNo]	 NOT NULL CONSTRAINT [DF_tblCart_IsRemove] DEFAULT ((0)),
	[RemoveDate]			[dbo].[udt_Datetime] NULL,
	[IsSaveForLater]		[dbo].[udt_YesNo]	 NOT NULL CONSTRAINT [DF_tblCart_IsSaveForLater] DEFAULT ((0)),
	[SaveForLaterDate]		[dbo].[udt_Datetime] NULL,
	[CreatedBy]				[dbo].[udt_Name] NOT NULL,
	[CreatedOn]				[dbo].[udt_Datetime] NOT NULL,
	[ModifiedBy]			[dbo].[udt_Name] NULL,
	[ModifiedOn]			[dbo].[udt_Datetime] NULL,
	CONSTRAINT [PK_tblCart] PRIMARY KEY CLUSTERED ([CartID])
) ON [PRIMARY]
GO
