/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblDocumentsType] (
	[DocTypeID]		[dbo].[udt_ID2]	 IDENTITY(1, 1) NOT NULL,
	[DocType]		[dbo].[udt_Code50]	 NOT NULL,
	CONSTRAINT [PK_tblDocumentsType] PRIMARY KEY CLUSTERED ([DocTypeID])
) ON [PRIMARY]
GO
