/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblDiscount] (
	[DiscountID]			[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[CustomerID]			[dbo].[udt_ID]	 NOT NULL,
	[Discount]				[dbo].[udt_LongName] NOT NULL,
	[IsInrOrPercentage]		[char](1)		 COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[INR]					[dbo].[udt_Money]	 NULL,
	[Percentage]			[dbo].[udt_Percentage]	 NULL,
	[MinimumPurchase]		[dbo].[udt_Money]	 NULL,
	[DisplayOrder]			[dbo].[udt_ID2]	 NOT NULL,
	[CreatedBy]				[dbo].[udt_ID]	 NOT NULL,
	[CreatedOn]				[dbo].[udt_Datetime] NOT NULL,
	[ModifiedBy]			[dbo].[udt_ID]	 NULL,
	[ModifiedOn]			[dbo].[udt_Datetime] NULL,
	CONSTRAINT [PK_tblDiscount] PRIMARY KEY CLUSTERED ([DiscountID])
) ON [PRIMARY]
GO
