/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblEvent] (
	[EventID]				[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[CustomerID]			[dbo].[udt_ID]	 NOT NULL,
	[EventName]				[dbo].[udt_LongName] NOT NULL,
	[EventDescription]		[dbo].[udt_Description]	 NULL,
	[StartDate]				[dbo].[udt_Date] NULL,
	[EndDate]				[dbo].[udt_Date] NULL,
	[CreatedBy]				[dbo].[udt_Name] NOT NULL,
	[CreatedOn]				[dbo].[udt_Date] NOT NULL,
	[ModifiedBy]			[dbo].[udt_Name] NULL,
	[ModifiedOn]			[dbo].[udt_Date] NULL,
	CONSTRAINT [PK_tblEvent] PRIMARY KEY CLUSTERED ([EventID])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEvent] ADD CONSTRAINT [FK_tblEvent_tblCustomer] FOREIGN KEY ([CustomerID]) REFERENCES [dbo].[tblCustomer] ([CustomerID])
GO
