/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblErrorLog] (
	[LogID]					[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[DatabaseName]			[varchar](255)	 COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ApplicationName]		[varchar](255)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EventDateTime]			[datetime]		 NULL,
	[Device]				[dbo].[udt_Name] NULL,
	[PageName]				[varchar](max)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[URL]					[varchar](max)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PreviousURL]			[varchar](max)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UserName]				[varchar](256)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Browser]				[varchar](max)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Source]				[varchar](1000)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StackTrace]			[varchar](max)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StackTraceString]		[varchar](max)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status]				[varchar](100)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_tblErrorLog] PRIMARY KEY CLUSTERED ([LogID])
) ON [PRIMARY]
GO
