/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblFlashSaleProducts] (
	[Id]				[int]			 IDENTITY(1, 1) NOT NULL,
	[FlashSaleId]		[int]			 NULL,
	[ProductID]			[bigint]		 NULL,
	[SalePrice]			[decimal](10, 2) NULL,
	CONSTRAINT [PK__tblFlash__3214EC07BB0247A0] PRIMARY KEY CLUSTERED ([Id])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblFlashSaleProducts] ADD CONSTRAINT [FK__tblFlashS__Flash__4E53A1AA] FOREIGN KEY ([FlashSaleId]) REFERENCES [dbo].[tblFlashSales] ([FlashSaleId])
GO
ALTER TABLE [dbo].[tblFlashSaleProducts] ADD CONSTRAINT [FK__tblFlashS__Produ__4F47C5E3] FOREIGN KEY ([ProductID]) REFERENCES [dbo].[tblProduct] ([ProductID])
GO
