/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblFeaturedProducts] (
	[Id]				[int]	 IDENTITY(1, 1) NOT NULL,
	[CustomerID]		[bigint] NULL,
	[ProductID]			[bigint] NULL,
	[DisplayOrder]		[int]	 NULL,
	CONSTRAINT [PK__tblFeatu__3214EC07394ECED8] PRIMARY KEY CLUSTERED ([Id])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblFeaturedProducts] ADD CONSTRAINT [FK__tblFeatur__Custo__46B27FE2] FOREIGN KEY ([CustomerID]) REFERENCES [dbo].[tblCustomer] ([CustomerID])
GO
ALTER TABLE [dbo].[tblFeaturedProducts] ADD CONSTRAINT [FK__tblFeatur__Produ__47A6A41B] FOREIGN KEY ([ProductID]) REFERENCES [dbo].[tblProduct] ([ProductID])
GO
