/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblFlashSales] (
	[FlashSaleId]		[int]		 IDENTITY(1, 1) NOT NULL,
	[CustomerID]		[bigint]	 NULL,
	[SaleEndTime]		[datetime]	 NULL,
	[IsActive]			[bit]		 NULL CONSTRAINT [DF__tblFlashS__IsAct__4A8310C6] DEFAULT ((1)),
	CONSTRAINT [PK__tblFlash__D603A264B65DD888] PRIMARY KEY CLUSTERED ([FlashSaleId])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblFlashSales] ADD CONSTRAINT [FK__tblFlashS__Custo__4B7734FF] FOREIGN KEY ([CustomerID]) REFERENCES [dbo].[tblCustomer] ([CustomerID])
GO
