/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblGender] (
	[GenderCode]		[dbo].[udt_GenderCode]	 NOT NULL,
	[Gender]			[varchar](10)	 COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DisplayOrder]		[int]			 NULL,
	CONSTRAINT [PK_tblGender] PRIMARY KEY CLUSTERED ([GenderCode]),
	CONSTRAINT [U_tblGender_Gender] UNIQUE NONCLUSTERED ([Gender])
) ON [PRIMARY]
GO
EXEC sp_addextendedproperty N'MS_Description', N'Master-System', 'SCHEMA', N'dbo', 'TABLE', N'tblGender'
GO
