/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblGatewayLog] (
	[GatewayLogID]			[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[order_id]				[dbo].[udt_LongName] NOT NULL,
	[payment_id]			[dbo].[udt_LongName] NULL,
	[entity]				[dbo].[udt_Name] NULL,
	[status]				[dbo].[udt_Name] NULL,
	[method]				[dbo].[udt_Name] NULL,
	[card_id]				[dbo].[udt_Name] NULL,
	[bank]					[dbo].[udt_LongName] NULL,
	[wallet]				[dbo].[udt_Name] NULL,
	[vpa]					[dbo].[udt_Name] NULL,
	[amount]				[dbo].[udt_Name] NULL,
	[fee]					[dbo].[udt_Name] NULL,
	[tax]					[dbo].[udt_Name] NULL,
	[error_code]			[dbo].[udt_Name] NULL,
	[error_description]		[dbo].[udt_LongDescription]	 NULL,
	[error_source]			[dbo].[udt_Name] NULL,
	[error_step]			[dbo].[udt_Name] NULL,
	[error_reason]			[dbo].[udt_LongName] NULL,
	[amount_refunded]		[dbo].[udt_Name] NULL,
	[refund_status]			[dbo].[udt_Name] NULL,
	[created_at]			[dbo].[udt_Name] NULL,
	[raw_response]			[nvarchar](max)			 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_tblGatewayLog] PRIMARY KEY CLUSTERED ([GatewayLogID])
) ON [PRIMARY]
GO
