/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblHeroSections] (
	[HeroId]				[int]			 IDENTITY(1, 1) NOT NULL,
	[CustomerID]			[bigint]		 NULL,
	[ImageUrl]				[nvarchar](500)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ImageAlt]				[nvarchar](200)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EyebrowLabel]			[nvarchar](100)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Heading]				[nvarchar](500)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Subtitle]				[nvarchar](500)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PrimaryCtaText]		[nvarchar](100)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PrimaryCtaUrl]			[nvarchar](300)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SecondaryCtaText]		[nvarchar](100)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SecondaryCtaUrl]		[nvarchar](300)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsActive]				[bit]			 NULL CONSTRAINT [DF__tblHeroSe__IsAct__40058253] DEFAULT ((1)),
	CONSTRAINT [PK__tblHeroS__33363263DD48B878] PRIMARY KEY CLUSTERED ([HeroId])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblHeroSections] ADD CONSTRAINT [FK__tblHeroSe__Custo__40F9A68C] FOREIGN KEY ([CustomerID]) REFERENCES [dbo].[tblCustomer] ([CustomerID])
GO
