/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblOrderDetail] (
	[OrderDetailID]		[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[OrderID]			[dbo].[udt_ID]	 NOT NULL,
	[CartID]			[dbo].[udt_ID]	 NULL,
	[ProductID]			[dbo].[udt_ID]	 NOT NULL,
	[Quantity]			[dbo].[udt_ID2]	 NOT NULL,
	[Discount]			[dbo].[udt_Money]	 NULL,
	[TotalPrice]		[dbo].[udt_Money]	 NULL,
	[CreatedBy]			[dbo].[udt_User] NOT NULL,
	[CreatedOn]			[dbo].[udt_Datetime] NOT NULL CONSTRAINT [DF_tblOrderDetail_CreatedOn] DEFAULT (getdate()),
	[ModifiedBy]		[dbo].[udt_User] NULL,
	[ModifiedOn]		[dbo].[udt_Datetime] NULL,
	CONSTRAINT [PK_tblOrderDetail] PRIMARY KEY CLUSTERED ([OrderDetailID])
) ON [PRIMARY]
GO
