/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblOrder] (
	[OrderID]				[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[UserID]				[dbo].[udt_ID]	 NOT NULL,
	[OrderTypeID]			[dbo].[udt_ID2]	 NOT NULL,
	[Amount]				[dbo].[udt_Money]	 NULL,
	[DiscountAmount]		[dbo].[udt_Money]	 NULL,
	[CouponAmount]			[dbo].[udt_Money]	 NULL,
	[PaymentAmount]			[dbo].[udt_Money]	 NULL,
	[DeliveryLocationID]	[dbo].[udt_ID]	 NULL,
	[CreatedBy]				[dbo].[udt_User] NOT NULL,
	[CreatedOn]				[dbo].[udt_Datetime] NOT NULL CONSTRAINT [DF_tblOrder_CreatedOn] DEFAULT (getdate()),
	[ModifiedBy]			[dbo].[udt_User] NULL,
	[ModifiedOn]			[dbo].[udt_Datetime] NULL,
	CONSTRAINT [PK_tblOrder] PRIMARY KEY CLUSTERED ([OrderID])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblOrder] ADD CONSTRAINT [FK_tblOrder_tblUser] FOREIGN KEY ([UserID]) REFERENCES [dbo].[tblUser] ([UserID])
GO
