/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblOrderType] (
	[OrderTypeID]		[dbo].[udt_ID2]	 IDENTITY(1, 1) NOT NULL,
	[OrderTypeCode]		[dbo].[udt_Code2]	 NOT NULL,
	[OrderType]			[dbo].[udt_Code50]	 NOT NULL,
	[IsActive]			[dbo].[udt_YesNo]	 NOT NULL CONSTRAINT [DF_tblOrderType_IsActive] DEFAULT ((1)),
	CONSTRAINT [PK_tblOrderType] PRIMARY KEY CLUSTERED ([OrderTypeID])
) ON [PRIMARY]
GO
