/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblProductSize_LookUp] (
	[ID]			[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[ProductID]		[dbo].[udt_ID]	 NOT NULL,
	[SizeID]		[dbo].[udt_ID]	 NOT NULL,
	CONSTRAINT [PK__tblProdu__3214EC27B66DF207] PRIMARY KEY CLUSTERED ([ID]),
	CONSTRAINT [uq_Product_Size] UNIQUE NONCLUSTERED ([ProductID], [SizeID])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblProductSize_LookUp] ADD CONSTRAINT [fk_ProductLink] FOREIGN KEY ([ProductID]) REFERENCES [dbo].[tblProduct] ([ProductID])
GO
ALTER TABLE [dbo].[tblProductSize_LookUp] ADD CONSTRAINT [fk_SizeLink] FOREIGN KEY ([SizeID]) REFERENCES [dbo].[tblProductSize] ([SizeID])
GO
