/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblProductImage] (
	[ProductImageID]	[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[ProductID]			[dbo].[udt_ID]	 NOT NULL,
	[ImageURL]			[dbo].[udt_Description]	 NOT NULL,
	[CreatedBy]			[dbo].[udt_Name] NOT NULL,
	[CreatedOn]			[dbo].[udt_Datetime] NOT NULL,
	[ModifiedBy]		[dbo].[udt_Name] NULL,
	[ModifiedOn]		[dbo].[udt_Datetime] NULL,
	CONSTRAINT [PK_tblProductImage] PRIMARY KEY CLUSTERED ([ProductImageID])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblProductImage] ADD CONSTRAINT [FK_tblProductImage_tblProduct] FOREIGN KEY ([ProductID]) REFERENCES [dbo].[tblProduct] ([ProductID])
GO
