/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblProductColor] (
	[ColorID]			[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[CategoryID]		[dbo].[udt_ID]	 NOT NULL,
	[SubCategoryID]		[dbo].[udt_ID]	 NOT NULL,
	[Color]				[dbo].[udt_Name] NOT NULL,
	[ColorCode]			[dbo].[udt_Name] NOT NULL,
	[IsActive]			[dbo].[udt_YesNo]	 NOT NULL,
	[DropDate]			[dbo].[udt_Datetime] NULL,
	[ActivationDate]	[dbo].[udt_Datetime] NULL,
	[DisplayOrder]		[dbo].[udt_ID2]	 NOT NULL,
	[CreatedBy]			[dbo].[udt_Name] NOT NULL,
	[CreatedOn]			[dbo].[udt_Datetime] NOT NULL,
	[ModifiedBy]		[dbo].[udt_Name] NULL,
	[ModifiedOn]		[dbo].[udt_Datetime] NULL,
	CONSTRAINT [PK_tblProductColor_1] PRIMARY KEY CLUSTERED ([ColorID])
) ON [PRIMARY]
GO
