/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblProduct] (
	[ProductID]				[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[ProductName]			[nvarchar](500)		 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductDescription]	[nvarchar](max)		 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductCaption]		[nvarchar](500)		 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CategoryID]			[dbo].[udt_ID]	 NOT NULL,
	[SubCategoryID]			[dbo].[udt_ID]	 NULL,
	[BrandID]				[dbo].[udt_ID]	 NULL,
	[SizeID]				[dbo].[udt_ID]	 NULL,
	[ColorID]				[dbo].[udt_ID]	 NULL,
	[ImageURL]				[dbo].[udt_Description]	 NULL,
	[Price]					[dbo].[udt_Money]	 NULL,
	[DiscountID]			[dbo].[udt_ID]	 NULL,
	[CouponID]				[dbo].[udt_ID]	 NULL,
	[CustomerID]			[dbo].[udt_ID]	 NOT NULL,
	[IsActive]				[dbo].[udt_YesNo]	 NOT NULL,
	[DropDate]				[dbo].[udt_Datetime] NULL,
	[ActivationDate]		[dbo].[udt_Datetime] NULL,
	[Status]				[dbo].[udt_Name] NULL,
	[CreatedBy]				[dbo].[udt_Name] NOT NULL,
	[CreatedOn]				[dbo].[udt_Datetime] NOT NULL,
	[ModifiedBy]			[dbo].[udt_Name] NULL,
	[ModifiedOn]			[dbo].[udt_Datetime] NULL,
	CONSTRAINT [PK_tblProduct] PRIMARY KEY CLUSTERED ([ProductID])
) ON [PRIMARY]
GO
