/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblPaymentGateway] (
	[PaymentGatewayID]		[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[CustomerID]			[dbo].[udt_ID]	 NOT NULL,
	[MerchantID]			[dbo].[udt_LongName] NULL,
	[RazorpayKey]			[dbo].[udt_LongName] NULL,
	[RazorpaySecret]		[dbo].[udt_LongName] NULL,
	[IsSandbox]				[dbo].[udt_YesNo]	 NOT NULL CONSTRAINT [DF_tblPaymentGateway_IsSandbox] DEFAULT ((0)),
	CONSTRAINT [PK_tblPaymentGateway] PRIMARY KEY CLUSTERED ([PaymentGatewayID])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaymentGateway] ADD CONSTRAINT [FK_tblPaymentGateway_tblCustomer] FOREIGN KEY ([CustomerID]) REFERENCES [dbo].[tblCustomer] ([CustomerID])
GO
