/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblPerson] (
	[PersonID]					[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[CustomerID]				[dbo].[udt_ID]	 NOT NULL,
	[PersonTypeCode]			[dbo].[udt_Code2]	 NULL,
	[FirstName]					[dbo].[udt_Name] NOT NULL,
	[MiddleInitials]			[dbo].[udt_Code10]	 NULL,
	[LastName]					[dbo].[udt_Name] NOT NULL,
	[ParentsFirstName]			[dbo].[udt_Name] NULL,
	[ParentsMiddleInitials]		[dbo].[udt_Code10]	 NULL,
	[ParentsLastName]			[dbo].[udt_Name] NULL,
	[SpouseFirstName]			[dbo].[udt_Name] NULL,
	[SpouseMiddleInitials]		[dbo].[udt_Code10]	 NULL,
	[SpouseLastName]			[dbo].[udt_Name] NULL,
	[Child1FirstName]			[dbo].[udt_Name] NULL,
	[Child1MiddleInitials]		[dbo].[udt_Code10]	 NULL,
	[Child1LastName]			[dbo].[udt_Name] NULL,
	[Child2FirstName]			[dbo].[udt_Name] NULL,
	[Child2MiddleInitials]		[dbo].[udt_Code10]	 NULL,
	[Child2LastName]			[dbo].[udt_Name] NULL,
	[TotalAdultFamilyMember]	[dbo].[udt_ID2]	 NULL,
	[TotalMinorFamilyMember]	[dbo].[udt_ID2]	 NULL,
	[DOB]						[dbo].[udt_Datetime] NULL,
	[PlaceOfBirth]				[dbo].[udt_Name] NULL,
	[GenderCode]				[dbo].[udt_Code2]	 NULL,
	[Occupation]				[dbo].[udt_Name] NULL,
	[BloodGroupID]				[dbo].[udt_ID2]	 NULL,
	[WorkingIn]					[dbo].[udt_Description]	 NULL,
	[KnownMember]				[dbo].[udt_Description]	 NULL,
	[ReasonToJoin]				[dbo].[udt_LongDescription]	 NULL,
	[CreatedBy]					[dbo].[udt_Name] NOT NULL,
	[CreatedOn]					[dbo].[udt_Datetime] NOT NULL,
	[ModifiedBy]				[dbo].[udt_Name] NULL,
	[ModifiedOn]				[dbo].[udt_Datetime] NULL,
	[avatar_url]				[varchar](500)			 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_tblPerson] PRIMARY KEY CLUSTERED ([PersonID])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPerson] ADD CONSTRAINT [FK_tblPerson_tblCustomer] FOREIGN KEY ([CustomerID]) REFERENCES [dbo].[tblCustomer] ([CustomerID])
GO
