/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblPayment] (
	[PaymentID]			[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[OrderID]			[dbo].[udt_ID]	 NULL,
	[Amount]			[dbo].[udt_Money]	 NULL,
	[PaymentDate]		[dbo].[udt_Datetime] NULL,
	[CreatedBy]			[dbo].[udt_User] NOT NULL,
	[CreatedOn]			[dbo].[udt_Datetime] NOT NULL CONSTRAINT [DF_tblPayment_CreatedOn] DEFAULT (getdate()),
	[ModifiedBy]		[dbo].[udt_User] NULL,
	[ModifiedOn]		[dbo].[udt_Datetime] NULL,
	CONSTRAINT [PK_tblPayment] PRIMARY KEY CLUSTERED ([PaymentID])
) ON [PRIMARY]
GO
