/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblProductColor_LookUp] (
	[ID]			[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[ProductID]		[dbo].[udt_ID]	 NOT NULL,
	[ColorID]		[dbo].[udt_ID]	 NOT NULL,
	CONSTRAINT [PK__tblProdu__3214EC27E0A6F1DB] PRIMARY KEY CLUSTERED ([ID]),
	CONSTRAINT [uq_Product_Color] UNIQUE NONCLUSTERED ([ProductID], [ColorID])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblProductColor_LookUp] ADD CONSTRAINT [fk_ColorLink] FOREIGN KEY ([ColorID]) REFERENCES [dbo].[tblProductColor] ([ColorID])
GO
ALTER TABLE [dbo].[tblProductColor_LookUp] ADD CONSTRAINT [fk_ProductColorLink] FOREIGN KEY ([ProductID]) REFERENCES [dbo].[tblProduct] ([ProductID])
GO
