/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblProductCategory] (
	[CategoryID]		[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[Category]			[dbo].[udt_Name] NOT NULL,
	[IsActive]			[dbo].[udt_YesNo]	 NOT NULL,
	[DropDate]			[dbo].[udt_Datetime] NULL,
	[ActivationDate]	[dbo].[udt_Datetime] NULL,
	[DisplayOrder]		[dbo].[udt_ID2]	 NOT NULL,
	[CreatedBy]			[dbo].[udt_Name] NOT NULL,
	[CreatedOn]			[dbo].[udt_Datetime] NOT NULL,
	[ModifiedBy]		[dbo].[udt_Name] NULL,
	[ModifiedOn]		[dbo].[udt_Datetime] NULL,
	[CustomerID]		[bigint]		 NULL,
	CONSTRAINT [PK_tblProductCategory] PRIMARY KEY CLUSTERED ([CategoryID])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblProductCategory] ADD CONSTRAINT [FK_tblProductCategory_Customer] FOREIGN KEY ([CustomerID]) REFERENCES [dbo].[tblCustomer] ([CustomerID])
GO
