/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblProductRatings] (
	[ProductRatingID]		[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[ProductID]				[dbo].[udt_ID2]	 NOT NULL,
	[UserID]				[dbo].[udt_ID2]	 NOT NULL,
	[Rating]				[dbo].[udt_ID2]	 NOT NULL,
	[CreatedOn]				[datetime]	 NULL CONSTRAINT [DF__tblProduc__Creat__3AD6B8E2] DEFAULT (getdate()),
	CONSTRAINT [PK__tblProdu__3214EC073BDCDD31] PRIMARY KEY CLUSTERED ([ProductRatingID])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblProductRatings] ADD CONSTRAINT [CK__tblProduc__Ratin__39E294A9] CHECK (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[tblProductRatings] ADD CONSTRAINT [FK_tblProductRatings_tblProductRatings] FOREIGN KEY ([ProductRatingID]) REFERENCES [dbo].[tblProductRatings] ([ProductRatingID])
GO
