/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblState] (
	[StateID]		[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[State]			[dbo].[udt_Name] NULL
) ON [PRIMARY]
GO
