/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblTransaction] (
	[TransactionID]			[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[PaymentGatewayID]		[dbo].[udt_ID]	 NULL,
	[PaymentID]				[dbo].[udt_ID]	 NOT NULL,
	[MerchantID]			[dbo].[udt_Name] NULL,
	[rzp_orderid]			[dbo].[udt_LongName] NULL,
	[rzp_paymentid]			[dbo].[udt_LongName] NULL,
	[Amount]				[dbo].[udt_Money]	 NULL,
	[ProcessingFee]			[dbo].[udt_Money]	 NULL,
	[Currency]				[dbo].[udt_Code10]	 NULL,
	[PaymentStatus]			[dbo].[udt_Code50]	 NULL,
	[CreatedBy]				[dbo].[udt_User] NOT NULL,
	[CreatedOn]				[dbo].[udt_Datetime] NOT NULL CONSTRAINT [DF_tblTransaction_CreatedOn] DEFAULT (getdate()),
	[ModifiedBy]			[dbo].[udt_User] NULL,
	[ModifiedOn]			[dbo].[udt_Datetime] NULL,
	CONSTRAINT [PK_tblTransaction] PRIMARY KEY CLUSTERED ([TransactionID])
) ON [PRIMARY]
GO
