/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblTelecom] (
	[TelecomID]		[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[PersonID]		[dbo].[udt_ID]	 NOT NULL,
	[HomePhone]		[dbo].[udt_Phone]	 NULL,
	[Mobile]		[dbo].[udt_Phone]	 NULL,
	[Email]			[dbo].[udt_Email]	 NULL,
	[Email2]		[dbo].[udt_Email]	 NULL,
	[CreatedBy]		[dbo].[udt_Name] NOT NULL,
	[CreatedOn]		[dbo].[udt_Datetime] NOT NULL,
	[ModifiedBy]	[dbo].[udt_Name] NULL,
	[ModifiedOn]	[dbo].[udt_Datetime] NULL,
	CONSTRAINT [PK_tblTelecom] PRIMARY KEY CLUSTERED ([TelecomID])
) ON [PRIMARY]
GO
