/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblUserLoginLog] (
	[LoginID]		[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[UserID]		[dbo].[udt_ID]	 NOT NULL,
	[DeviceName]	[dbo].[udt_Code15]	 NULL,
	[DeviceID]		[dbo].[udt_Code50]	 NULL,
	[FcmID]			[nvarchar](max)			 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LogTime]		[dbo].[udt_Datetime] NOT NULL,
	[Latitude]		[real]					 NULL,
	[Longitude]		[real]					 NULL,
	[Location]		[dbo].[udt_LongDescription]	 NULL,
	[Activity]		[dbo].[udt_LongName] NULL,
	[Browser]		[dbo].[udt_Code50]	 NULL
) ON [PRIMARY]
GO
