/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblUser] (
	[UserID]							[dbo].[udt_ID]	 IDENTITY(1, 1) NOT NULL,
	[UserName]							[dbo].[udt_User] NULL,
	[UserMobile]						[dbo].[udt_Phone]	 NULL,
	[Password]							[varbinary](max) NULL,
	[PersonID]							[dbo].[udt_ID]	 NOT NULL,
	[ParentsID]							[dbo].[udt_ID]	 NULL,
	[ParentsGender]						[char](1)		 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UserTypeCode]						[dbo].[udt_Code2]	 NULL,
	[Designation]						[dbo].[udt_ShortName]	 NULL,
	[NumberOfRowsPerPage]				[dbo].[udt_ID2]	 NULL CONSTRAINT [DF_tblUser_NumberOfRowsPerPage] DEFAULT ((20)),
	[CanAccessFinancialInformation]		[dbo].[udt_YesNo]	 NOT NULL CONSTRAINT [DF_tblUser_CanAccessFinancialInformation] DEFAULT ((1)),
	[CanAccessAdmin]					[dbo].[udt_YesNo]	 NOT NULL CONSTRAINT [DF_tblUser_CanAccessAdmin] DEFAULT ((1)),
	[PasswordResetOn]					[dbo].[udt_Datetime] NULL,
	[IsActive]							[dbo].[udt_YesNo]	 NOT NULL CONSTRAINT [DF_tblUser_IsActive] DEFAULT ((1)),
	[FcmID]								[nvarchar](max)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DeviceID]							[dbo].[udt_Code50]	 NULL,
	[IsDeviceIDUpdated]					[dbo].[udt_YesNo]	 NOT NULL CONSTRAINT [DF_tblUser_IsDeviceIDUpdated] DEFAULT ((0)),
	[ProfileImage]						[varchar](200)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedBy]							[dbo].[udt_User] NOT NULL,
	[CreatedOn]							[dbo].[udt_Datetime] NOT NULL CONSTRAINT [DF_tblUser_CreatedOn] DEFAULT (getdate()),
	[ModifiedBy]						[dbo].[udt_User] NULL,
	[ModifiedOn]						[dbo].[udt_Datetime] NULL,
	[Email]								[varchar](100)	 COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[RefreshToken]						[nvarchar](500)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RefreshTokenExpiry]				[datetime]		 NULL,
	CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED ([UserID])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblUser] ADD CONSTRAINT [CK_tblUser_Email_Format] CHECK (([Email] like '%@%._%' AND NOT [Email] like '% %' AND NOT [Email] like '%@%@%'))
GO
ALTER TABLE [dbo].[tblUser] ADD CONSTRAINT [FK_tblUser_tblPerson] FOREIGN KEY ([PersonID]) REFERENCES [dbo].[tblPerson] ([PersonID])
GO
