/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblUserVerification] (
	[VerificationID]	[int]			 IDENTITY(1, 1) NOT NULL,
	[UserID]			[bigint]		 NULL,
	[OTP]				[nvarchar](100)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedOn]			[datetime]		 NULL,
	[IsVerified]		[bit]			 NOT NULL CONSTRAINT [DF__tblUserVe__IsVer__55009F39] DEFAULT ((0)),
	[Attempts]			[int]			 NOT NULL CONSTRAINT [DF__tblUserVe__Attem__55F4C372] DEFAULT ((0)),
	[ExpiresOn]			[datetime]		 NULL,
	[Email]				[varchar](100)	 COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK__tblUserV__306D492738045CDA] PRIMARY KEY CLUSTERED ([VerificationID])
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblUserVerification] ADD CONSTRAINT [FK__tblUserVe__UserI__531856C7] FOREIGN KEY ([UserID]) REFERENCES [dbo].[tblUser] ([UserID])
GO
