/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblUserType] (
	[UserTypeID]		[dbo].[udt_ID2]	 IDENTITY(1, 1) NOT NULL,
	[UserTypeCode]		[dbo].[udt_Code2]	 NOT NULL,
	[UserType]			[dbo].[udt_Code50]	 NOT NULL,
	[IsActive]			[dbo].[udt_YesNo]	 NOT NULL CONSTRAINT [DF_tblUserType_IsActive] DEFAULT ((1)),
	CONSTRAINT [PK_tblUserType] PRIMARY KEY CLUSTERED ([UserTypeID])
) ON [PRIMARY]
GO
