/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
CREATE TABLE [dbo].[tblUserDoc] (
	[UserID]		[dbo].[udt_ID]	 NOT NULL,
	[DocTypeID]		[dbo].[udt_ID2]	 NOT NULL,
	[DocPath]		[varchar](200)	 COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CreatedBy]		[dbo].[udt_User] NOT NULL,
	[CreatedOn]		[dbo].[udt_Datetime] NOT NULL,
	[ModifiedBy]	[dbo].[udt_User] NULL,
	[ModifiedOn]	[dbo].[udt_Datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblUserDoc] ADD CONSTRAINT [FK_tblUserDoc_tblDocumentsType] FOREIGN KEY ([DocTypeID]) REFERENCES [dbo].[tblDocumentsType] ([DocTypeID])
GO
ALTER TABLE [dbo].[tblUserDoc] ADD CONSTRAINT [FK_tblUserDoc_tblUser] FOREIGN KEY ([UserID]) REFERENCES [dbo].[tblUser] ([UserID])
GO
