USE [Ecommerce]
GO
/****** Object:  StoredProcedure [dbo].[spValidate_User]    Script Date: 4/10/2026 9:51:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[spValidate_User]   
 (  
  @Email            VARCHAR(40),  
  @Password            VARCHAR(30)
 )  
AS  
BEGIN  
  
 DECLARE @ErrMsg VARCHAR(5000)  
 
 
    
 IF NOT EXISTS (SELECT *  
  FROM        tblUser   
  WHERE  Email = @Email  
  AND   pwdcompare(@Password, [Password]) = 1)
  BEGIN  
   SELECT @ErrMsg = 'Invalid Email/ Password! Please try again.'  
   GOTO ErrHandler  
  END  
  
 --get the details of the user and associated person  
 SELECT u.UserID, u.Email, u.UserName, u.UserTypeCode, u.IsActive, u.PersonID, p.FirstName, (p.FirstName + ' ' + p.LastName) As Name 
 FROM    tblUser u
 INNER JOIN tblPerson p ON u.PersonID = p.PersonID  
 WHERE  u.Email = @Email
	  
 RETURN  
   
END  
ERRHANDLER:   
BEGIN  
 RAISERROR(@ErrMsg, 16, 1, 0)  
 RETURN  
END


