USE [Ecommerce]
GO
/****** Object:  StoredProcedure [dbo].[spCart_InsertUpdate]    Script Date: 5/14/2026 10:43:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[spCart_InsertUpdate] 
(	
	@CartID						udt_ID,
	@UserID						udt_ID,
	@ProductID					udt_ID,
	@Quantity					udt_ID2,
	@Status						udt_ID4, -- 1 => If Buy, 2 => IsRemove, 3 => IsSaveForLater, 4 => Buy again, 5 => Increase product item, 6 => Decrease product item
	@UserName					varchar(50)
	
)	
AS BEGIN

	DECLARE @ErrMsg varchar(500)
	
	BEGIN TRY
		BEGIN TRANSACTION
		
		IF (@CartID = 0)
		BEGIN			
			IF EXISTS (SELECT ProductID FROM tblCart WHERE UserID=@UserID AND ProductID=@ProductID AND IsBuy=0)
			BEGIN
				IF EXISTS (SELECT ProductID FROM tblCart WHERE UserID=@UserID AND ProductID=@ProductID AND IsBuy=0 AND (IsRemove=1 OR IsSaveForLater=1))
				BEGIN
					
					SELECT @CartID = CartID FROM tblCart WHERE UserID=@UserID AND ProductID=@ProductID AND IsBuy=0 AND (IsRemove=1 OR IsSaveForLater=1)
					
					UPDATE tblCart
					SET IsRemove=0,
						RemoveDate=NULL,
						IsSaveForLater=0,
						SaveForLaterDate=NULL,
						Quantity=CASE WHEN Quantity=0 THEN 1 ELSE Quantity END,
						ModifiedBy=@UserName,
						ModifiedOn=GETDATE()
					WHERE CartID=@CartID
				END
			END
			ELSE			
			BEGIN
				INSERT INTO tblCart (UserID,ProductID,Quantity,AddDate,CreatedBy,CreatedOn)
				VALUES (@UserID,@ProductID,@Quantity,GETDATE(),@UserName,GETDATE())
			END															
		END  
		ELSE
		BEGIN				
				IF (@Status=1) -- 1=>Buy
				BEGIN
					UPDATE tblCart
					SET 
					IsBuy=1,
					BuyDate=GETDATE(),
					ModifiedBy=@UserName,
					ModifiedOn=GETDATE()
				WHERE CartID=@CartID	
				END
				IF (@Status=2) --2 => IsRemove
				BEGIN
					UPDATE tblCart
					SET 
					IsRemove=1,
					RemoveDate=GETDATE(),
					IsSaveForLater=0,
					SaveForLaterDate=NULL,
					ModifiedBy=@UserName,
					ModifiedOn=GETDATE(),
					Quantity=0
				WHERE CartID=@CartID	
				END
				IF (@Status=3) --3 => IsSaveForLater
				BEGIN
					UPDATE tblCart
					SET IsSaveForLater=1,
					SaveForLaterDate=GETDATE(),
					ModifiedBy=@UserName,
					ModifiedOn=GETDATE()
				WHERE CartID=@CartID	
				END	
				
				IF (@Status=4) --4 => Buy again
				BEGIN
					INSERT INTO tblCart (UserID,ProductID,Quantity,AddDate,CreatedBy,CreatedOn)
					SELECT  UserID,ProductID,Quantity,GETDATE(),@UserName,GETDATE()
					FROM tblCart
					WHERE CartID=@CartID	
				END
				
				IF (@Status=5) --5 => Increase number of item
				BEGIN
					UPDATE tblCart
					SET Quantity=Quantity+1,
					ModifiedBy=@UserName,
					ModifiedOn=GETDATE()
					WHERE CartID=@CartID
				END

				IF (@Status=6) --6 => Decrease number of item
				BEGIN
					UPDATE tblCart
					SET Quantity=Quantity-1,
					ModifiedBy=@UserName,
					ModifiedOn=GETDATE()
					WHERE CartID=@CartID

					IF ((SELECT Quantity FROM tblCart WHERE CartID=@CartID) = 0)
					BEGIN
						UPDATE tblCart
						SET 
						IsRemove=1,
						RemoveDate=GETDATE(),
						IsSaveForLater=0,
						SaveForLaterDate=NULL,
						ModifiedBy=@UserName,
						ModifiedOn=GETDATE()
						WHERE CartID=@CartID	
					END

				END



		END

		COMMIT TRANSACTION		
		RETURN	
	END TRY
	BEGIN CATCH				
		ROLLBACK TRANSACTION
		IF (@ErrMsg IS NULL) SELECT @ErrMsg = 'There is a problem to save data. Please contact support.'
		RAISERROR(@ErrMsg , 16, 1, 0)
		RETURN
		
	END CATCH
END
