USE [Ecommerce]
GO
/****** Object:  StoredProcedure [dbo].[spProductCategory_DDL]    Script Date: 4/13/2026 2:51:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[spProductCategory_DDL]
 @CustomerID BIGINT
AS
BEGIN
	SELECT CategoryID, Category
	FROM tblProductCategory
	WHERE CustomerID = @CustomerID
	ORDER BY DisplayOrder;

END
