USE [Ecommerce]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC spProduct_GetList 0

ALTER PROCEDURE [dbo].[spProduct_GetList]
(
    @CustomerID udt_ID
)
AS
BEGIN
    DECLARE @ErrMsg VARCHAR(5000)

    BEGIN TRY

        SELECT
            p.ProductID,
            p.ProductName,
            p.ProductDescription,
            p.ProductCaption,
            p.CategoryID,
            ISNULL(p.BrandID,0) AS BrandID,

            ISNULL(p.ColorID,0) AS ColorID,
            pc.Color AS ColorName,
            pc.ColorCode,

            p.ImageURL,
            CAST(p.Price AS DECIMAL(18,2)) AS Price,

            CASE
                WHEN CAST(p.Price AS DECIMAL(18,2)) BETWEEN 0.00 AND 50.00 THEN 1
                WHEN CAST(p.Price AS DECIMAL(18,2)) BETWEEN 51.00 AND 100.00 THEN 2
                WHEN CAST(p.Price AS DECIMAL(18,2)) BETWEEN 101.00 AND 200.00 THEN 3
                WHEN CAST(p.Price AS DECIMAL(18,2)) BETWEEN 201.00 AND 300.00 THEN 4
                WHEN CAST(p.Price AS DECIMAL(18,2)) BETWEEN 301.00 AND 400.00 THEN 5
                WHEN CAST(p.Price AS DECIMAL(18,2)) BETWEEN 401.00 AND 500.00 THEN 6
                WHEN CAST(p.Price AS DECIMAL(18,2)) BETWEEN 501.00 AND 600.00 THEN 7
                WHEN CAST(p.Price AS DECIMAL(18,2)) BETWEEN 601.00 AND 700.00 THEN 8
                WHEN CAST(p.Price AS DECIMAL(18,2)) > 700.00 THEN 9
            END AS PriceID,

            ISNULL(p.SizeID,0) AS SizeID,
            ps.Size AS Size,

            p.DiscountID,
            d.IsInrOrPercentage,
            d.Discount,
            d.INR,
            d.Percentage,

            p.CouponID,
            p.IsActive,
            p.DropDate,
            p.ActivationDate,
            p.Status,
            p.CreatedBy,
            p.CreatedOn,
            p.ModifiedBy,
            p.ModifiedOn,

            CAST(0 AS DECIMAL(18,2)) AS Rating,

            pb.Brand

        INTO #Result

        FROM tblProduct p

        LEFT JOIN tblDiscount d
            ON p.DiscountID = d.DiscountID

        LEFT JOIN tblCoupon c
            ON p.CouponID = c.CouponID

        LEFT JOIN tblProductBrand pb
            ON p.BrandID = pb.BrandID

        LEFT JOIN tblProductSize ps
            ON p.SizeID = ps.SizeID

        LEFT JOIN tblProductColor pc
            ON p.ColorID = pc.ColorID

        WHERE p.CustomerID = @CustomerID


        UPDATE r
        SET r.Rating = x.AvgRating
        FROM #Result r
        INNER JOIN
        (
            SELECT ProductID,
                   AVG(CAST(Rating AS DECIMAL(18,2))) AS AvgRating
            FROM tblProductRatings
            GROUP BY ProductID
        ) x ON r.ProductID = x.ProductID


        SELECT * FROM #Result

    END TRY
    BEGIN CATCH

        SET @ErrMsg = ERROR_MESSAGE()
        RAISERROR(@ErrMsg,16,1)

    END CATCH
END
GO