ALTER PROCEDURE [dbo].[spValidate_User]
(
    @Email VARCHAR(100),
    @Password VARCHAR(30)
)
AS
BEGIN

    DECLARE @ErrMsg VARCHAR(5000)
    DECLARE @UserID BIGINT

    SELECT @UserID = UserID
    FROM tblUser
    WHERE Email = @Email
    AND pwdcompare(@Password, [Password]) = 1

    IF @UserID IS NULL
    BEGIN
        SELECT @ErrMsg =
            'Invalid Email/ Password! Please try again.'
        GOTO ErrHandler
    END

    IF NOT EXISTS
    (
        SELECT 1
        FROM tblUserVerification
        WHERE UserID = @UserID
        AND IsVerified = 1
    )
    BEGIN
        SELECT @ErrMsg =
            'Your account is not verified.'
        GOTO ErrHandler
    END

    SELECT
        u.UserID,
        ISNULL(u.UserName, p.FirstName) AS UserName,
        u.Email,
        u.UserTypeCode,
        u.IsActive,
        u.PersonID
    FROM tblUser u
    INNER JOIN tblPerson p
        ON u.PersonID = p.PersonID
    WHERE u.UserID = @UserID

    RETURN

ErrHandler:
    RAISERROR(@ErrMsg, 16, 1)

END