/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE FUNCTION [dbo].[fn_CalculateAge] (
	@DOB AS DATE,
	@EndDate as DATE = null
)

RETURNS TINYINT

AS
BEGIN
	
	DECLARE @Result as TINYINT

	/* IF DEFAULT VALUE (marked as 2999-01-01 as it doesn't accept functions) 
	IS USED THEN USE TODAY'S DATE
	----------------------------------------------------------------------------- */
	IF @EndDate is null SET @EndDate = [dbo].UTC2Indian(GETDATE())
	
	IF (@DOB >= @EndDate) 
		SET @Result = 0
	ELSE
	BEGIN
		-- check if the person had its birthday in the specified year and calculate age
		IF (MONTH(@EndDate)*100)+DAY(@EndDate) >= (MONTH(@DOB)*100)+DAY(@DOB)
			SET @Result = DATEDIFF(Year,@DOB,@EndDate)
		ELSE
			SET @Result = DATEDIFF(Year,@DOB,@EndDate)-1
		END

	RETURN @Result

END
GO
