/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE FUNCTION [dbo].[fn_GetUserNameByID] 
(
    @UserID AS BIGINT
)
RETURNS VARCHAR(105)
AS
BEGIN
    DECLARE @UserName VARCHAR(105);

    SELECT @UserName = p.FirstName + ' ' + p.LastName 
    FROM tblUser u
    INNER JOIN tblPerson p ON u.PersonID = p.PersonID
    WHERE u.UserID = @UserID;

    RETURN @UserName;
END
GO
