/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE FUNCTION [dbo].[fn_GetValidCharacters]
(
	@inputString VARCHAR(MAX),
	@validChars VARCHAR(100)
)
RETURNS VARCHAR(500) AS
BEGIN
  
    WHILE @inputString like '%[^' + @validChars + ']%'
   SELECT @inputString = REPLACE(@inputString,SUBSTRING(@inputString,PATINDEX('%[^' + @validChars + ']%',@inputString),1),'')
 
   RETURN @inputString
END
GO
