/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE FUNCTION [dbo].[fn_GetPersonDetails]
(
	@UserID BigInt
)

RETURNS @Results TABLE (
	[UserID] [dbo].[udt_ID],
	[PersonID] [dbo].[udt_ID],
	[FirstName] [dbo].[udt_Name] NULL,
	[LastName] [dbo].[udt_Name] NULL,
	[Address1] [dbo].[udt_LongName] NULL,
	[Address2] [dbo].[udt_LongName] NULL,

	[City]	[dbo].[udt_Code50] NULL,
	[StateID] [dbo].[udt_ID] NULL,
	[PinCode] [dbo].[udt_Zip] NULL,
	[Email] [dbo].[udt_Email] NULL,
	[Email2] [dbo].[udt_LongName] NULL,
	[HomePhone] [dbo].[udt_Phone] NULL,
	[Mobile] [dbo].[udt_Phone] NULL

)
AS
BEGIN

	INSERT INTO @Results (UserID, PersonID, FirstName, LastName, Address1, Address2, City, StateID, PinCode, Email, Email2, HomePhone, Mobile)
	SELECT	
		u.UserID,
		p.PersonID,
		p.FirstName, 
		p.LastName,
		a.Address1, 
		a.Address2, 
		a.City, 
		a.StateID, 
		a.PinCode,
		t.Email, t.Email2, t.HomePhone, t.Mobile
	FROM  tblUser u
	INNER JOIN	tblPerson p ON u.PersonID = p.PersonID 
	 LEFT JOIN tblAddress a ON u.PersonID = a.PersonID 
	 LEFT JOIN tblTelecom t ON u.PersonID = t.PersonID
	WHERE  u.UserID = @UserID
	
	
    RETURN 
END
GO
