/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE FUNCTION [dbo].[fn_RowNumberGrouping]

(

      -- Add the parameters for the function here

      @RowNumber AS INT,

      @RowsInGroup AS INT

)

RETURNS INT

AS

BEGIN

      -- Declare the return variable here

      DECLARE @RESULT AS INT

      -- Add the T-SQL statements to compute the return value here

      SET @RESULT = cast(((@RowNumber-1)/@RowsInGroup) as int)+1

     

      -- Return the result of the function

      RETURN @RESULT

END
GO
