/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE FUNCTION [dbo].[fnLastDateOfMonth]
(
	@CurrentDay			int,
	@CurrentMonth		int,
	@CurrentYear		int   
)
RETURNS  datetime
AS
BEGIN
	DECLARE	@CurrentDate	datetime

	IF (@CurrentDay >= 31 and @CurrentMonth <> 2) or (@CurrentDay >= 29 and @CurrentMonth = 2)
	BEGIN
		IF (@CurrentMonth < 12)
			SET @CurrentDate = (select DATEADD(day, -1, CONVERT(varchar(2), @CurrentMonth + 1) + '/' + CONVERT(varchar(2) , 1 ) + '/' + CONVERT(varchar(4), @CurrentYear)))
		ELSE
			SET @CurrentDate = (select DATEADD(day, -1, CONVERT(varchar(2), 1) + '/' +  CONVERT(varchar(2) , 1 ) + '/' + CONVERT(varchar(4), @CurrentYear + 1)))
	END
	ELSE
	BEGIN
		SET	@CurrentDate = CONVERT(varchar(2), @CurrentMonth) + '/' + CONVERT(varchar(2) ,@CurrentDay ) + '/' + CONVERT(varchar(4), @CurrentYear)
	END
	
	RETURN @CurrentDate

END

-- select dbo.fn_FormatSchedule(1,'01/10/2008','31/10/2008')
GO
