/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
/* Functio used to get Numeric Data */
CREATE FUNCTION [dbo].[mfn_GetNumericData]
(@strAlphaNumeric VARCHAR(256))
 RETURNS VARCHAR(256)
AS
BEGIN
	DECLARE @intAlpha INT
	SET @intAlpha = PATINDEX('%[^0-9]%', @strAlphaNumeric)
	BEGIN
	WHILE @intAlpha > 0
		BEGIN
		SET @strAlphaNumeric = STUFF(@strAlphaNumeric, @intAlpha, 1, '' )
		SET @intAlpha = PATINDEX('%[^0-9]%', @strAlphaNumeric )
		END
	END
	RETURN ISNULL(@strAlphaNumeric,0)
END
GO
