/*
Run this script on SQL Server 2019 or later. There may be flaws if running on earlier versions of SQL Server.
*/
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
CREATE FUNCTION [dbo].[UTC2Indian] (@UTCTime AS DATETIME)
RETURNS DATETIME
AS

BEGIN

  SET @UTCTime = CONVERT(DATETIME, CONVERT(VARCHAR(20), SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30'), 113))
  RETURN @UTCTime

END
GO
